n8n/workflows/AI Powered Email Document Parsing & Text Extraction with Llama Parse.json
{"createdAt":"2025-05-14T05:59:11.808Z","updatedAt":"2025-05-14T18:30:13.751Z","id":"H2wp0XokWLesqXwT","name":"AI Powered Email Document Parsing & Text Extraction with Llama Parse","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"parse","options":{}},"id":"4c14bb8a-cef1-4112-a98c-399b2ce40332","name":"Webhook","type":"n8n-nodes-base.webhook","position":[740,1620],"webhookId":"a9668054-5bd3-427d-8f18-932436441e42","typeVersion":2},{"parameters":{"operation":"getAll","limit":28,"filters":{"q":"has:attachment","sender":" joe@example.com"}},"id":"ca2cb5e6-27ef-499a-a50c-08475f85b461","name":"Gmail","type":"n8n-nodes-base.gmail","position":[1020,280],"webhookId":"344de9dc-4062-4552-ae29-1e9150322cdb","typeVersion":2.1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"},{}]},"filters":{}},"id":"a991e09e-9ff3-495a-bc95-b9be84650df4","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[700,280],"typeVersion":1.2},{"parameters":{"keep":"lastItems"},"id":"aea1fd01-311d-4e2e-8d03-d633934976c4","name":"Limit","type":"n8n-nodes-base.limit","position":[1220,280],"typeVersion":1},{"parameters":{"operation":"get","messageId":"={{ $('Gmail').item.json.id }}","simple":false,"options":{"dataPropertyAttachmentsPrefixName":"=file","downloadAttachments":true}},"id":"53dab6b3-3a59-481f-955e-86b7cde14f07","name":"Get Message","type":"n8n-nodes-base.gmail","position":[1420,280],"webhookId":"13036143-6e5b-47c1-84a4-a92cbc33b37f","typeVersion":2.1},{"parameters":{"content":"## Send to LlamaParse\nhttps://docs.cloud.llamaindex.ai/API/upload-file-api-v-1-parsing-upload-post","height":340,"width":320,"color":6},"id":"eacd54a5-5e41-43f7-8206-ab7364e8cbce","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2140,40],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"file0"},{"name":"webhook_url","value":"=https://[YOUR-N8N-URL]/webhook/parse"},{"name":"accurate_mode","value":"true"},{"name":"premium_mode","value":"false"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"448ef2b9-74eb-4659-9a12-b1b5d13ca81b","name":"Parse Document with LlamaParse","type":"n8n-nodes-base.httpRequest","position":[2260,180],"executeOnce":true,"typeVersion":4.2,"alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $('Is there an Email Attachement').item.json.text }}","messages":{"messageValues":[{"message":"You are an expert at summarizing email messages.  Provide a summary of the provided email."}]}},"id":"8d068a34-80f5-4923-9388-6589b3f6e21f","name":"Summarize Email","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[2240,860],"typeVersion":1.5},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"eee11f63-0946-4dfe-88c1-e1db36eee850","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2340,1000],"typeVersion":1.2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo/edit?usp=drivesdk","cachedResultName":"2024.Year.End.Expenses"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo/edit#gid=0","cachedResultName":"Expenses"},"columns":{"value":{"jobid":"={{ $json.id }}","summary":"={{ $json.text }}","image_url":"={{ $json.webViewLink }}"},"schema":[{"id":"jobid","type":"string","display":true,"removed":false,"required":false,"displayName":"jobid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"statement_date","type":"string","display":true,"removed":true,"required":false,"displayName":"statement_date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"org_name","type":"string","display":true,"removed":true,"required":false,"displayName":"org_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"member_name","type":"string","display":true,"removed":true,"required":false,"displayName":"member_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"subtotal","type":"string","display":true,"removed":true,"required":false,"displayName":"subtotal","defaultMatch":false,"canBeUsedToMatch":true},{"id":"service_fees_total","type":"string","display":true,"removed":true,"required":false,"displayName":"service_fees_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tips_total","type":"string","display":true,"removed":true,"required":false,"displayName":"tips_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"current_excl_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"current_excl_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"container_deposit_total","type":"string","display":true,"removed":true,"required":false,"displayName":"container_deposit_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"outstanding_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"outstanding_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"paid_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"paid_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"total_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst","type":"string","display":true,"removed":true,"required":false,"displayName":"total_bc_pst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst_liquor","type":"string","display":true,"removed":true,"required":false,"displayName":"total_bc_pst_liquor","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_savings","type":"string","display":true,"removed":true,"required":false,"displayName":"total_savings","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_amount_due","type":"string","display":true,"removed":true,"required":false,"displayName":"final_amount_due","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_reference","type":"string","display":true,"removed":true,"required":false,"displayName":"payment_reference","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_amount","type":"string","display":true,"removed":true,"required":false,"displayName":"payment_amount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"transaction_number","type":"string","display":true,"removed":true,"required":false,"displayName":"transaction_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_url","type":"string","display":true,"removed":false,"required":false,"displayName":"image_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["jobid"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2c9e74d4-ac37-471e-9e24-157594ebffe3","name":"Save LlamaParse ID and Summary to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2920,520],"typeVersion":4.5},{"parameters":{"inputDataFieldName":"=file0","name":"={{ $('Is there an Email Attachement').item.json.id }}_{{ $('Is there an Email Attachement').item.binary.file0.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultUrl":"https://drive.google.com/drive","cachedResultName":"/ (Root folder)"},"options":{}},"id":"1430f48b-e6a3-440c-a7a5-9d94ee32befc","name":"Save Document to Google Drive","type":"n8n-nodes-base.googleDrive","position":[2240,520],"typeVersion":3},{"parameters":{"promptType":"define","text":"=Analyze this markdown content and convert it to JSON following this exact schema:\n{\n    \"invoice_details\": {\n        \"statement_date\": \"\",\n        \"organization\": {\n            \"name\": \"\",\n            \"address\": \"\",\n            \"gst_number\": \"\"\n        },\n        \"member\": {\n            \"name\": \"\",\n            \"company\": \"\",\n            \"address\": \"\",\n            \"contact_number\": \"\",\n            \"organization_number\": \"\"\n        }\n    },\n    \"transactions\": [\n        {\n            \"date\": \"\",\n            \"document_number\": \"\",\n            \"description\": \"\",\n            \"base_amount\": 0.00,\n            \"gst\": 0.00,\n            \"bc_pst\": 0.00,\n            \"bc_pst_liquor\": 0.00,  # Added for liquor PST\n            \"container_deposit\": 0.00,  # Added for bottle deposits\n            \"service_fee\": 0.00,\n            \"tip_amount\": 0.00,\n            \"regular_price\": 0.00,  # Added for regular price tracking\n            \"savings_amount\": 0.00,  # Added for savings tracking\n            \"total_charge\": 0.00,\n            \"transaction_type\": \"\"\n        }\n    ],\n    \"payment_details\": {\n        \"previous_balance\": 0.00,\n        \"payment_amount\": 0.00,\n        \"payment_reference\": \"\",\n        \"payment_date\": \"\",\n        \"payment_method\": \"\",\n        \"payment_status\": \"\",\n        \"card_number\": \"\",  # Added for card details\n        \"auth_number\": \"\",  # Added for authorization\n        \"transaction_number\": \"\"\n    },\n    \"invoice_summary\": {\n        \"subtotal\": 0.00,\n        \"service_fees_total\": 0.00,\n        \"tips_total\": 0.00,\n        \"current_excl_gst\": 0.00,\n        \"container_deposit_total\": 0.00,  # Added for deposits\n        \"outstanding_gst\": 0.00,\n        \"paid_gst\": 0.00,\n        \"total_gst\": 0.00,\n        \"total_bc_pst\": 0.00,\n        \"total_bc_pst_liquor\": 0.00,  # Added for liquor PST if shown in markdown content\n        \"total_savings\": 0.00,  # Added for savings\n        \"final_amount_due\": 0.00\n    },\n    \"payment_terms\": {\n        \"due_date\": \"\",\n        \"processing_date\": \"\",\n        \"special_notices\": [],\n        \"cancellation_policy\": \"\",\n        \"refund_policy\": \"\",\n        \"return_policy\": \"\"  # Added for return policy\n    },\n    \"additional_info\": {\n        \"booking_number\": \"\",\n        \"transaction_time\": \"\",  # Added for transaction time\n        \"register_info\": \"\",     # Added for register details\n        \"event_details\": {\n            \"date\": \"\",\n            \"time\": \"\",\n            \"location\": \"\"\n        },\n        \"special_instructions\": []\n    },\n    \"summary\": \"\" # The natural language summary of the invoice\n}\n\nMarkdown Content:\n{{ $json.data }}\n\nImportant:\n- Extract exact values from the markdown\n- Return only valid JSON\n- Include all fields even if empty\n- Format numbers as floats with 2 decimal places\n- Track container deposits separately\n- Show liquor PST (10%) separately from regular PST if provided in markdown content\n- Include regular prices and savings amounts\n- Track transaction details including card info and authorization\n- Parse return policy information\n- Include register and transaction time details\n- Ensure final_amount_due equals the sum of all applicable charges and taxes\n- Summarize the markdown contents\n- Only output valid JSON without any preamble or further explanation.  Remove any ```json and ``` from response."},"id":"b7f186ab-16e4-4b23-9b7c-d0dbcc9b9cbf","name":"Extract Invoice Details as JSON","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1880,2040],"typeVersion":1.5,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"ea2b6584-3aaa-4f88-9172-c54bb51cfbcd","name":"gpt-4o-mini1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1460,1780],"typeVersion":1},{"parameters":{"model":"gpt-4o","options":{}},"id":"2cd8bc18-c984-4a5c-9398-553397cd98c6","name":"gpt-4o-mini2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1980,2180],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo/edit?usp=drivesdk","cachedResultName":"2024.Year.End.Expenses"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo/edit#gid=0","cachedResultName":"Expenses"},"columns":{"value":{"jobid":"={{ $('Webhook').item.json.body.jobId }}","summary":"={{ $json.output.summary }}","org_name":"={{ $json.output.invoice_details.organization.name }}","paid_gst":"={{ $json.output.invoice_summary.paid_gst }}","subtotal":"={{ $json.output.invoice_summary.subtotal }}","total_gst":"={{ $json.output.invoice_summary.total_gst }}","tips_total":"={{ $json.output.invoice_summary.tips_total }}","member_name":"={{ $json.output.invoice_details.member.name }}","total_bc_pst":"={{ $json.output.invoice_summary.total_bc_pst }}","total_savings":"={{ $json.output.invoice_summary.total_savings }}","payment_amount":"={{ $json.output.payment_details.payment_amount }}","statement_date":"={{ $json.output.invoice_details.statement_date }}","outstanding_gst":"={{ $json.output.invoice_summary.outstanding_gst }}","current_excl_gst":"={{ $json.output.invoice_summary.current_excl_gst }}","final_amount_due":"={{ $json.output.invoice_summary.final_amount_due }}","payment_reference":"={{ $json.output.payment_details.payment_reference }}","service_fees_total":"={{ $json.output.invoice_summary.service_fees_total }}","transaction_number":"={{ $json.output.payment_details.transaction_number }}","total_bc_pst_liquor":"={{ $json.output.invoice_summary.total_bc_pst_liquor }}","container_deposit_total":"={{ $json.output.invoice_summary.container_deposit_total }}"},"schema":[{"id":"jobid","type":"string","display":true,"removed":false,"required":false,"displayName":"jobid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"statement_date","type":"string","display":true,"removed":false,"required":false,"displayName":"statement_date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"org_name","type":"string","display":true,"removed":false,"required":false,"displayName":"org_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"member_name","type":"string","display":true,"removed":false,"required":false,"displayName":"member_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"subtotal","type":"string","display":true,"removed":false,"required":false,"displayName":"subtotal","defaultMatch":false,"canBeUsedToMatch":true},{"id":"service_fees_total","type":"string","display":true,"removed":false,"required":false,"displayName":"service_fees_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tips_total","type":"string","display":true,"removed":false,"required":false,"displayName":"tips_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"current_excl_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"current_excl_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"container_deposit_total","type":"string","display":true,"removed":false,"required":false,"displayName":"container_deposit_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"outstanding_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"outstanding_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"paid_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"paid_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"total_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst","type":"string","display":true,"removed":false,"required":false,"displayName":"total_bc_pst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst_liquor","type":"string","display":true,"removed":false,"required":false,"displayName":"total_bc_pst_liquor","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_savings","type":"string","display":true,"removed":false,"required":false,"displayName":"total_savings","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_amount_due","type":"string","display":true,"removed":false,"required":false,"displayName":"final_amount_due","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_reference","type":"string","display":true,"removed":false,"required":false,"displayName":"payment_reference","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_amount","type":"string","display":true,"removed":false,"required":false,"displayName":"payment_amount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"transaction_number","type":"string","display":true,"removed":false,"required":false,"displayName":"transaction_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["jobid"]},"options":{}},"id":"3d936f16-4169-4205-ac9d-59970d5bf658","name":"Update Google Sheet by LlamaParse ID","type":"n8n-nodes-base.googleSheets","position":[2520,2140],"typeVersion":4.5},{"parameters":{"assignments":{"assignments":[{"id":"e145ed8c-cdea-4e5a-ba11-d8ce595dfb8d","name":"output","type":"object","value":"={{ $json.text }}"}]},"options":{}},"id":"ce68a0f6-91dd-4acb-9d9e-63475dbcbde7","name":"Invoice Details","type":"n8n-nodes-base.set","position":[2280,1940],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"3e566101-2ad9-444b-8459-451ba6a91575","name":"invoice_details.statement_date","type":"string","value":"={{ $json.output.invoice_details.statement_date }}"},{"id":"57a466f6-d354-4864-98d3-ba4673afde98","name":"invoice_details.organization","type":"object","value":"={{ $json.output.invoice_details.organization }}"},{"id":"e1b22978-8114-4956-a5fc-3efbc43335a3","name":"invoice_details.member","type":"object","value":"={{ $json.output.invoice_details.member }}"},{"id":"e45a744c-0874-48b7-b59a-9d83aad27ff3","name":"payment_details","type":"object","value":"={{ $json.output.payment_details }}"},{"id":"c0335dc7-1b5c-41fc-b60a-bf45248c9f7f","name":"invoice_summary","type":"object","value":"={{ $json.output.invoice_summary }}"},{"id":"6c9ba3bf-37a6-4a8f-b97d-991f3ce6950f","name":"summary","type":"string","value":"={{ $json.output.summary }}"}]},"options":{}},"id":"6e6a53dd-756c-4080-b42d-11caa90cd715","name":"Prepare Message","type":"n8n-nodes-base.set","position":[2520,1940],"typeVersion":3.4},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.summary }}\n--------\n{{ $json.invoice_summary.toJsonString() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"1f0e8c5d-36c5-4212-9361-7ed47c906b8e","name":"Send Invoice Details as Telegram Message","type":"n8n-nodes-base.telegram","position":[2720,1940],"webhookId":"04464e72-2be3-4df9-8a08-18d23cb75d72","typeVersion":1.2},{"parameters":{"model":"gpt-4o","options":{}},"id":"9668c273-8bb6-4743-9383-f074676b39d1","name":"gpt-4o-mini3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1980,1600],"typeVersion":1},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=Error in workflow","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"c7642f3f-98d8-4159-8cde-135c7fb5e7b9","name":"Send Error Message 2","type":"n8n-nodes-base.telegram","position":[2280,2140],"webhookId":"3ba1ee6d-1648-4421-823b-e68ae14d769b","typeVersion":1.2},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=Error in workflow","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"b433b728-70a7-46ac-93e4-83d87ae046a1","name":"Send Error Message 1","type":"n8n-nodes-base.telegram","position":[2280,1600],"webhookId":"3ba1ee6d-1648-4421-823b-e68ae14d769b","typeVersion":1.2},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"8c4e295d-ab56-4a03-87c3-c5eb2c34bc58","name":"Send Document Summary as Telegram Message","type":"n8n-nodes-base.telegram","position":[2520,1340],"webhookId":"04464e72-2be3-4df9-8a08-18d23cb75d72","typeVersion":1.2},{"parameters":{"promptType":"define","text":"=Please analyze this document and provide:\n\n## Document Analysis\n- A concise executive summary (2-3 sentences)\n- Key themes and main points\n- Notable findings or insights\n- Data highlights and important statistics (if applicable)\n\n## Recommendations\n- Action items or next steps\n- Areas requiring further investigation\n- Potential implications\n\n## Format Requirements\n- Structure the analysis using clear headers and sections\n- Include relevant quotes to support key points\n- Present any numerical data in tables or bullet points\n- Highlight critical information using bold text\n\nPlease maintain the original document's context while making the content more accessible and actionable.\n\nHere is the document: {{ $json.data }}\n"},"id":"7bfde217-9d41-4976-b590-210cbe7cdc25","name":"Summarize Document","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1880,1460],"typeVersion":1.5,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"inputText":"={{ $json.data }}","categories":{"categories":[{"category":"not invoice","description":"The document is not an invoice"},{"category":"invoice","description":"The document is an invoice"}]},"options":{}},"id":"d1967dd5-543a-4cde-86ce-6be380534d12","name":"Classify Parsed Document","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[1380,1620],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"55b5a755-eeaf-4ce7-b600-e6c864dc7e10","name":"data","type":"string","value":"={{ $json.body.md }}"}]},"options":{}},"id":"9b8367c1-ea8c-481d-9a1e-265f32605d13","name":"Get Parsed Markdown","type":"n8n-nodes-base.set","position":[1080,1620],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"cee9e2d3-b311-4903-9867-e7d3d7ed2456","name":"google_drive_fileid","type":"string","value":"={{ $json.id }}"},{"id":"5c6eddf6-5a5e-4c51-87ed-8e3aabc2f65d","name":"webViewLink","type":"string","value":"={{ $json.webViewLink }}"}]},"options":{}},"id":"cae2fd61-68c2-4cd8-a18c-fcc4c54a5378","name":"Prepare Data","type":"n8n-nodes-base.set","position":[2420,520],"typeVersion":3.4},{"parameters":{"url":"https://api.cloud.llamaindex.ai/api/parsing/supported_file_extensions","options":{}},"id":"cdad4a76-2753-4487-ad7e-ac51d26cd330","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[1020,680],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"460b82e5-30f5-4cb3-a937-a275fd256fcc","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $input.item.binary }}","rightValue":""}]},"options":{}},"id":"e9d65ab1-79c2-4fb1-bc93-bef2191e3993","name":"Is there an Email Attachement","type":"n8n-nodes-base.if","position":[1640,280],"typeVersion":2.2},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"extensions","options":{}},"id":"08de32c5-03d5-4c2e-8cd7-aabda872424d","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[1220,680],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"c9c59aae-b507-4493-a047-495bed344a5e","name":"extension","type":"string","value":"=.{{ $('Is there an Email Attachement').item.binary.file0.fileExtension }}"}]},"options":{}},"id":"6defe661-bfd3-4294-ae61-664ffb2a35f9","name":"Edit Fields","type":"n8n-nodes-base.set","position":[1440,680],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"id":"ee65b890-243c-4299-a0d9-3be8a9f6643f","name":"Merge Email Processing","type":"n8n-nodes-base.merge","position":[2680,520],"typeVersion":3},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"1039c8ef-918f-4533-bd67-ed90596e8626","name":"Merge","type":"n8n-nodes-base.merge","position":[1940,520],"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f76cc5a7-6882-4e1f-86d5-99d5d9e90a34","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Aggregate').item.json.extensions.includes($json.extension)}}","rightValue":""}]},"options":{}},"id":"02e71817-c9a2-4c20-b3b9-b7e2daf148e0","name":"If Supported File Extensions","type":"n8n-nodes-base.if","position":[1640,680],"typeVersion":2.2},{"parameters":{},"id":"69ec7657-1ce1-412e-a826-54506125cd4c","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1940,280],"typeVersion":1},{"parameters":{},"id":"ba546196-1483-4833-a57c-c13b28242200","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[1940,760],"typeVersion":1},{"parameters":{"content":"## Check for Supported File Extension\nhttps://docs.cloud.llamaindex.ai/API/get-supported-file-extensions-api-v-1-parsing-supported-file-extensions-get","height":320,"width":920},"id":"fa13fde8-da4e-440a-b3ae-9cf388654bb4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[920,560],"typeVersion":1},{"parameters":{"content":"## Get Emails with Attachments\n### ☀️Disclaimer\nThis workflow only processes the the first attachment of the email.\nAdjust search and limit settings to suit your use case.","height":400,"width":920,"color":3},"id":"c56a1015-e126-48e1-b763-55c4a894ab44","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[920,120],"typeVersion":1},{"parameters":{"content":"## Save Document to Google Drive","height":300,"width":460,"color":4},"id":"98820bb3-25f5-4aac-b503-5eeebeb13065","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2140,420],"typeVersion":1},{"parameters":{"content":"## Summarize the Email Message","height":380,"width":460,"color":5},"id":"f5ff211a-e0ea-4a72-a496-63a67ea96197","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2140,760],"typeVersion":1},{"parameters":{"content":"## Save To Google Sheets","height":300,"width":300,"color":4},"id":"48881001-2659-4df5-98e9-8b2308fc4b94","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2840,420],"typeVersion":1},{"parameters":{"content":"# Description\n\nThis workflow automates document processing using LlamaParse to extract and analyze text from various file formats. It intelligently processes documents, extracts structured data, and delivers actionable insights through multiple channels.\n\n## How It Works\n\n### Document Ingestion & Processing 📄\n- Monitors Gmail for incoming attachments or accepts documents via webhook\n- Validates file formats against supported LlamaParse extensions\n- Uploads documents to LlamaParse for advanced text extraction\n- Stores original documents in Google Drive for reference\n\n### Intelligent Document Analysis 🧠\n- Automatically classifies document types (invoices, reports, etc.)\n- Extracts structured data using customized AI prompts\n- Generates comprehensive document summaries with key insights\n- Converts unstructured text into organized JSON data\n\n### Invoice Processing Automation 💼\n- Extracts critical invoice details (dates, amounts, line items)\n- Organizes financial data into structured formats\n- Calculates tax breakdowns, subtotals, and payment information\n- Maintains detailed records for accounting purposes\n\n### Multi-Channel Delivery 📱\n- Saves extracted data to Google Sheets for tracking and analysis\n- Sends concise summaries via Telegram for immediate review\n- Creates searchable document archives in Google Drive\n- Updates spreadsheets with structured financial information\n\n## Setup Steps\n\n### Configure API Credentials 🔑\n- Set up LlamaParse API connection\n- Configure Gmail OAuth for email monitoring\n- Set up Google Drive and Sheets integrations\n- Add Telegram bot credentials for notifications\n\n### Customize AI Processing ⚙️\n- Adjust document classification parameters\n- Modify extraction templates for specific document types\n- Fine-tune summary generation prompts\n- Customize invoice data extraction schema\n\n### Test and Deploy 🚀\n- Test with sample documents of various formats\n- Verify data extraction accuracy\n- Confirm notification delivery\n- Monitor processing pipeline performance\n\n\n","height":1340,"width":540},"id":"00da9672-e977-4c61-9370-9f98493f6776","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## 👍Try Me!","height":280,"width":260,"color":4},"id":"6fb6d909-65f7-402d-a3df-8ca50b3d4e09","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[620,200],"typeVersion":1},{"parameters":{"content":"# ✨🔪 Advanced AI Powered Document Parsing & Text Extraction with Llama Parse\n","height":1180,"width":2600,"color":7},"id":"ef490da6-7e25-4964-8dac-6358dc576e81","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[580,0],"typeVersion":1},{"parameters":{"content":"## Example Invoice Processing\n","height":540,"width":1160,"color":6},"id":"236a4352-02b5-4f4d-8673-d14417f40e0a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1780,1820],"typeVersion":1},{"parameters":{"content":"## Extract Invoice as JSON\n☀️Update User & System Prompt for Your Specific Use Case","height":420,"width":360},"id":"ba96d288-643a-4f36-98bf-2e1bb4a441e5","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1840,1900],"typeVersion":1},{"parameters":{"content":"## Example Document Summarizing\n","height":520,"width":980,"color":5},"id":"2f5bd3b5-a5cd-4b6b-b71e-0fdb537ae390","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1780,1260],"typeVersion":1},{"parameters":{"content":"## Summarize Document\n☀️Update User & System Prompt for Your Specific Use Case","height":400,"width":360},"id":"99292776-07bc-44da-8d63-257a301c5b99","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1840,1340],"typeVersion":1},{"parameters":{"content":"## Classify Parsed Document\nAdd More Classifications as Required","height":420,"width":440,"color":4},"id":"7afe7870-1504-4dd8-a5dc-5e22c2a0c5b5","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1300,1500],"typeVersion":1},{"parameters":{"content":"## Parsed Markdown from LlamaParse","height":320,"width":260,"color":3},"id":"85bfe826-826c-4a48-994e-8357d3479644","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[1000,1500],"typeVersion":1},{"parameters":{"content":"## Receive Parsed Document from LlamaParse","height":320,"width":340},"id":"d765b596-ff22-41ac-9c1b-6fb58e3107c4","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[620,1500],"typeVersion":1},{"parameters":{"content":"# 🪝Webhook to Receive LlamaParse Response","height":1180,"width":2400,"color":7},"id":"5fe584ee-62b2-40ee-8513-9b6f7df2ef25","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[580,1220],"typeVersion":1},{"parameters":{"content":"## Save Parsed Document to Google Drive","height":400,"width":440,"color":5},"id":"11f5605c-81e2-49b3-bde5-1a4d960e198d","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[1300,1960],"typeVersion":1},{"parameters":{"operation":"createFromText","content":"={{ $json.text }}","name":"={{ $('Webhook').item.json.body.jobId }}-summary.md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultUrl":"https://drive.google.com/drive","cachedResultName":"/ (Root folder)"},"options":{}},"id":"67a934fe-6699-4934-8811-afe0ab0d506f","name":"Save Summarized Document to Google Drive","type":"n8n-nodes-base.googleDrive","position":[2520,1540],"typeVersion":3},{"parameters":{"operation":"createFromText","content":"={{ $json.data }}","name":"={{ $('Webhook').item.json.body.jobId }}-parsed.md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultUrl":"https://drive.google.com/drive","cachedResultName":"/ (Root folder)"},"options":{}},"id":"0b215735-5dd6-49da-910c-d8b15866bbfa","name":"Save Parsed Document to Google Drive","type":"n8n-nodes-base.googleDrive","position":[1460,2100],"typeVersion":3}],"connections":{"Gmail":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Parse Document with LlamaParse","type":"main","index":0},{"node":"Save Document to Google Drive","type":"main","index":0},{"node":"Summarize Email","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Parsed Markdown","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If Supported File Extensions","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Is there an Email Attachement","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Summarize Email","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Merge Email Processing","type":"main","index":1}]]},"gpt-4o-mini1":{"ai_languageModel":[[{"node":"Classify Parsed Document","type":"ai_languageModel","index":0}]]},"gpt-4o-mini2":{"ai_languageModel":[[{"node":"Extract Invoice Details as JSON","type":"ai_languageModel","index":0}]]},"gpt-4o-mini3":{"ai_languageModel":[[{"node":"Summarize Document","type":"ai_languageModel","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Invoice Details":{"main":[[{"node":"Prepare Message","type":"main","index":0},{"node":"Update Google Sheet by LlamaParse ID","type":"main","index":0}]]},"Prepare Message":{"main":[[{"node":"Send Invoice Details as Telegram Message","type":"main","index":0}]]},"Summarize Email":{"main":[[{"node":"Merge Email Processing","type":"main","index":2}]]},"Summarize Document":{"main":[[{"node":"Send Document Summary as Telegram Message","type":"main","index":0},{"node":"Save Summarized Document to Google Drive","type":"main","index":0}],[{"node":"Send Error Message 1","type":"main","index":0}]]},"Get Parsed Markdown":{"main":[[{"node":"Classify Parsed Document","type":"main","index":0},{"node":"Save Parsed Document to Google Drive","type":"main","index":0}]]},"Merge Email Processing":{"main":[[{"node":"Save LlamaParse ID and Summary to Google Sheets","type":"main","index":0}]]},"Classify Parsed Document":{"main":[[{"node":"Summarize Document","type":"main","index":0}],[{"node":"Extract Invoice Details as JSON","type":"main","index":0}]]},"If Supported File Extensions":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Is there an Email Attachement":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Save Document to Google Drive":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Parse Document with LlamaParse":{"main":[[{"node":"Merge Email Processing","type":"main","index":0}]]},"Extract Invoice Details as JSON":{"main":[[{"node":"Invoice Details","type":"main","index":0}],[{"node":"Send Error Message 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"97430aaa-9521-41b4-848f-80e9a993f10b","triggerCount":0,"shared":[{"createdAt":"2025-05-14T05:59:11.808Z","updatedAt":"2025-05-14T05:59:11.808Z","role":"workflow:owner","workflowId":"H2wp0XokWLesqXwT","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}