n8n/workflows/AI Powered Document Parsing & Text Extraction with Llama Parse.json
{"createdAt":"2025-05-14T18:30:24.953Z","updatedAt":"2025-05-14T20:39:44.959Z","id":"xqMX8EKMWK7auRkn","name":"AI Powered Document Parsing & Text Extraction with Llama Parse","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"6a9a6be0-e493-42cb-bd2e-2a64258ecc5f","options":{}},"id":"ba0969d4-9705-4e4b-8bc5-425ac7cf651f","name":"Webhook","type":"n8n-nodes-base.webhook","position":[740,1620],"webhookId":"6a9a6be0-e493-42cb-bd2e-2a64258ecc5f","typeVersion":2},{"parameters":{"content":"## Send to LlamaParse\nhttps://docs.cloud.llamaindex.ai/API/upload-file-api-v-1-parsing-upload-post","height":340,"width":320,"color":6},"id":"99170622-268d-4a04-9706-1d7105e896ea","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2140,40],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"file0"},{"name":"webhook_url","value":"=https://[YOUR-N8N-URL]/webhook/parse"},{"name":"accurate_mode","value":"true"},{"name":"premium_mode","value":"false"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"03e0c0ad-9fc4-44de-b9c5-c2d24865133b","name":"Parse Document with LlamaParse","type":"n8n-nodes-base.httpRequest","position":[2260,180],"executeOnce":true,"typeVersion":4.2,"alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"c075e822-1954-4b5a-a820-507f30e8d06f","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2340,1000],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"JfMKe6UVIbmHqonl","name":"OpenAi account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo/edit?usp=drivesdk","cachedResultName":"2024.Year.End.Expenses"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mUvDI9sGvRl64iNV6ODXUzro5Q3Oeuaks5662tfN7Oo/edit#gid=0","cachedResultName":"Expenses"},"columns":{"value":{"jobid":"={{ $json.id }}","summary":"={{ $json.text }}","image_url":"={{ $json.webViewLink }}"},"schema":[{"id":"jobid","type":"string","display":true,"removed":false,"required":false,"displayName":"jobid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"statement_date","type":"string","display":true,"removed":true,"required":false,"displayName":"statement_date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"org_name","type":"string","display":true,"removed":true,"required":false,"displayName":"org_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"member_name","type":"string","display":true,"removed":true,"required":false,"displayName":"member_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"subtotal","type":"string","display":true,"removed":true,"required":false,"displayName":"subtotal","defaultMatch":false,"canBeUsedToMatch":true},{"id":"service_fees_total","type":"string","display":true,"removed":true,"required":false,"displayName":"service_fees_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tips_total","type":"string","display":true,"removed":true,"required":false,"displayName":"tips_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"current_excl_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"current_excl_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"container_deposit_total","type":"string","display":true,"removed":true,"required":false,"displayName":"container_deposit_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"outstanding_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"outstanding_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"paid_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"paid_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_gst","type":"string","display":true,"removed":true,"required":false,"displayName":"total_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst","type":"string","display":true,"removed":true,"required":false,"displayName":"total_bc_pst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst_liquor","type":"string","display":true,"removed":true,"required":false,"displayName":"total_bc_pst_liquor","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_savings","type":"string","display":true,"removed":true,"required":false,"displayName":"total_savings","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_amount_due","type":"string","display":true,"removed":true,"required":false,"displayName":"final_amount_due","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_reference","type":"string","display":true,"removed":true,"required":false,"displayName":"payment_reference","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_amount","type":"string","display":true,"removed":true,"required":false,"displayName":"payment_amount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"transaction_number","type":"string","display":true,"removed":true,"required":false,"displayName":"transaction_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_url","type":"string","display":true,"removed":false,"required":false,"displayName":"image_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["jobid"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"994caa03-bd37-4c00-8fb7-65f4934d679d","name":"Save LlamaParse ID and Summary to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2920,520],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"CxRekr7IADUHFJyD","name":"Google Sheets account"}}},{"parameters":{"inputDataFieldName":"=file0","name":"={{ $('Set File ID').item.json.file_id }}_{{ $('Set File ID').item.json.file_title }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultUrl":"https://drive.google.com/drive","cachedResultName":"/ (Root folder)"},"options":{}},"id":"9ef300ce-f585-4569-82a5-83733b8a9c51","name":"Save Document to Google Drive","type":"n8n-nodes-base.googleDrive","position":[2240,520],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"p6nm0wk6RlvHuBND","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"=Analyze this markdown content and convert it to JSON following this exact schema:\n{\n    \"invoice_details\": {\n        \"statement_date\": \"\",\n        \"organization\": {\n            \"name\": \"\",\n            \"address\": \"\",\n            \"gst_number\": \"\"\n        },\n        \"member\": {\n            \"name\": \"\",\n            \"company\": \"\",\n            \"address\": \"\",\n            \"contact_number\": \"\",\n            \"organization_number\": \"\"\n        }\n    },\n    \"transactions\": [\n        {\n            \"date\": \"\",\n            \"document_number\": \"\",\n            \"description\": \"\",\n            \"base_amount\": 0.00,\n            \"gst\": 0.00,\n            \"bc_pst\": 0.00,\n            \"bc_pst_liquor\": 0.00,  # Added for liquor PST\n            \"container_deposit\": 0.00,  # Added for bottle deposits\n            \"service_fee\": 0.00,\n            \"tip_amount\": 0.00,\n            \"regular_price\": 0.00,  # Added for regular price tracking\n            \"savings_amount\": 0.00,  # Added for savings tracking\n            \"total_charge\": 0.00,\n            \"transaction_type\": \"\"\n        }\n    ],\n    \"payment_details\": {\n        \"previous_balance\": 0.00,\n        \"payment_amount\": 0.00,\n        \"payment_reference\": \"\",\n        \"payment_date\": \"\",\n        \"payment_method\": \"\",\n        \"payment_status\": \"\",\n        \"card_number\": \"\",  # Added for card details\n        \"auth_number\": \"\",  # Added for authorization\n        \"transaction_number\": \"\"\n    },\n    \"invoice_summary\": {\n        \"subtotal\": 0.00,\n        \"service_fees_total\": 0.00,\n        \"tips_total\": 0.00,\n        \"current_excl_gst\": 0.00,\n        \"container_deposit_total\": 0.00,  # Added for deposits\n        \"outstanding_gst\": 0.00,\n        \"paid_gst\": 0.00,\n        \"total_gst\": 0.00,\n        \"total_bc_pst\": 0.00,\n        \"total_bc_pst_liquor\": 0.00,  # Added for liquor PST if shown in markdown content\n        \"total_savings\": 0.00,  # Added for savings\n        \"final_amount_due\": 0.00\n    },\n    \"payment_terms\": {\n        \"due_date\": \"\",\n        \"processing_date\": \"\",\n        \"special_notices\": [],\n        \"cancellation_policy\": \"\",\n        \"refund_policy\": \"\",\n        \"return_policy\": \"\"  # Added for return policy\n    },\n    \"additional_info\": {\n        \"booking_number\": \"\",\n        \"transaction_time\": \"\",  # Added for transaction time\n        \"register_info\": \"\",     # Added for register details\n        \"event_details\": {\n            \"date\": \"\",\n            \"time\": \"\",\n            \"location\": \"\"\n        },\n        \"special_instructions\": []\n    },\n    \"summary\": \"\" # The natural language summary of the invoice\n}\n\nMarkdown Content:\n{{ $json.data }}\n\nImportant:\n- Extract exact values from the markdown\n- Return only valid JSON\n- Include all fields even if empty\n- Format numbers as floats with 2 decimal places\n- Track container deposits separately\n- Show liquor PST (10%) separately from regular PST if provided in markdown content\n- Include regular prices and savings amounts\n- Track transaction details including card info and authorization\n- Parse return policy information\n- Include register and transaction time details\n- Ensure final_amount_due equals the sum of all applicable charges and taxes\n- Summarize the markdown contents\n- Only output valid JSON without any preamble or further explanation.  Remove any ```json and ``` from response."},"id":"a52528a7-ee47-4863-9420-eb345e2f9b69","name":"Extract Invoice Details as JSON","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1880,2040],"typeVersion":1.5,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"8448e060-dab6-45ff-ae5b-c5c6c4bedd7c","name":"gpt-4o-mini1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1460,1780],"typeVersion":1,"credentials":{"openAiApi":{"id":"JfMKe6UVIbmHqonl","name":"OpenAi account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"063d2614-d891-4629-bce1-cf96ee5c44a0","name":"gpt-4o-mini2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1980,2180],"typeVersion":1,"credentials":{"openAiApi":{"id":"JfMKe6UVIbmHqonl","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1R-nV1UTfX56hNsZIoZzANQClEFNkVrgXJMu236HsFnA","mode":"list","cachedResultName":"n8nsheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R-nV1UTfX56hNsZIoZzANQClEFNkVrgXJMu236HsFnA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1R-nV1UTfX56hNsZIoZzANQClEFNkVrgXJMu236HsFnA/edit#gid=0"},"columns":{"value":{"jobid":"={{ $('Webhook').item.json.body.jobId }}","summary":"={{ $json.output.summary }}","org_name":"={{ $json.output.invoice_details.organization.name }}","paid_gst":"={{ $json.output.invoice_summary.paid_gst }}","subtotal":"={{ $json.output.invoice_summary.subtotal }}","total_gst":"={{ $json.output.invoice_summary.total_gst }}","tips_total":"={{ $json.output.invoice_summary.tips_total }}","member_name":"={{ $json.output.invoice_details.member.name }}","total_bc_pst":"={{ $json.output.invoice_summary.total_bc_pst }}","total_savings":"={{ $json.output.invoice_summary.total_savings }}","payment_amount":"={{ $json.output.payment_details.payment_amount }}","statement_date":"={{ $json.output.invoice_details.statement_date }}","outstanding_gst":"={{ $json.output.invoice_summary.outstanding_gst }}","current_excl_gst":"={{ $json.output.invoice_summary.current_excl_gst }}","final_amount_due":"={{ $json.output.invoice_summary.final_amount_due }}","payment_reference":"={{ $json.output.payment_details.payment_reference }}","service_fees_total":"={{ $json.output.invoice_summary.service_fees_total }}","transaction_number":"={{ $json.output.payment_details.transaction_number }}","total_bc_pst_liquor":"={{ $json.output.invoice_summary.total_bc_pst_liquor }}","container_deposit_total":"={{ $json.output.invoice_summary.container_deposit_total }}"},"schema":[{"id":"jobid","type":"string","display":true,"removed":false,"required":false,"displayName":"jobid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"statement_date","type":"string","display":true,"removed":false,"required":false,"displayName":"statement_date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"org_name","type":"string","display":true,"removed":false,"required":false,"displayName":"org_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"member_name","type":"string","display":true,"removed":false,"required":false,"displayName":"member_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"subtotal","type":"string","display":true,"removed":false,"required":false,"displayName":"subtotal","defaultMatch":false,"canBeUsedToMatch":true},{"id":"service_fees_total","type":"string","display":true,"removed":false,"required":false,"displayName":"service_fees_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tips_total","type":"string","display":true,"removed":false,"required":false,"displayName":"tips_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"current_excl_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"current_excl_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"container_deposit_total","type":"string","display":true,"removed":false,"required":false,"displayName":"container_deposit_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"outstanding_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"outstanding_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"paid_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"paid_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_gst","type":"string","display":true,"removed":false,"required":false,"displayName":"total_gst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst","type":"string","display":true,"removed":false,"required":false,"displayName":"total_bc_pst","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_bc_pst_liquor","type":"string","display":true,"removed":false,"required":false,"displayName":"total_bc_pst_liquor","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_savings","type":"string","display":true,"removed":false,"required":false,"displayName":"total_savings","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_amount_due","type":"string","display":true,"removed":false,"required":false,"displayName":"final_amount_due","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_reference","type":"string","display":true,"removed":false,"required":false,"displayName":"payment_reference","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment_amount","type":"string","display":true,"removed":false,"required":false,"displayName":"payment_amount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"transaction_number","type":"string","display":true,"removed":false,"required":false,"displayName":"transaction_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["jobid"]},"options":{}},"id":"69cd8e9d-624e-4f05-898a-6ae520e14e4a","name":"Update Google Sheet by LlamaParse ID","type":"n8n-nodes-base.googleSheets","position":[2520,2140],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"CxRekr7IADUHFJyD","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e145ed8c-cdea-4e5a-ba11-d8ce595dfb8d","name":"output","type":"object","value":"={{ $json.text }}"}]},"options":{}},"id":"1e42b990-8179-42fb-a646-b15d57ba0929","name":"Invoice Details","type":"n8n-nodes-base.set","position":[2280,1940],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"3e566101-2ad9-444b-8459-451ba6a91575","name":"invoice_details.statement_date","type":"string","value":"={{ $json.output.invoice_details.statement_date }}"},{"id":"57a466f6-d354-4864-98d3-ba4673afde98","name":"invoice_details.organization","type":"object","value":"={{ $json.output.invoice_details.organization }}"},{"id":"e1b22978-8114-4956-a5fc-3efbc43335a3","name":"invoice_details.member","type":"object","value":"={{ $json.output.invoice_details.member }}"},{"id":"e45a744c-0874-48b7-b59a-9d83aad27ff3","name":"payment_details","type":"object","value":"={{ $json.output.payment_details }}"},{"id":"c0335dc7-1b5c-41fc-b60a-bf45248c9f7f","name":"invoice_summary","type":"object","value":"={{ $json.output.invoice_summary }}"},{"id":"6c9ba3bf-37a6-4a8f-b97d-991f3ce6950f","name":"summary","type":"string","value":"={{ $json.output.summary }}"}]},"options":{}},"id":"10c2c6e5-90db-4c95-aba8-146b3d4a9081","name":"Prepare Message","type":"n8n-nodes-base.set","position":[2520,1940],"typeVersion":3.4},{"parameters":{"chatId":"=testbot","text":"={{ $json.summary }}\n--------\n{{ $json.invoice_summary.toJsonString() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"a7e64390-ade9-4d9c-85ed-67b5b0316ef3","name":"Send Invoice Details as Telegram Message","type":"n8n-nodes-base.telegram","position":[2720,1940],"webhookId":"4b762803-c140-44f4-8498-f2e7acf37e59","typeVersion":1.2,"credentials":{"telegramApi":{"id":"hoEQHqqA3IjjbVfJ","name":"Telegram account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"d0819e21-2bb9-4cef-a0ac-ec4f27fe5af8","name":"gpt-4o-mini3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1980,1600],"typeVersion":1,"credentials":{"openAiApi":{"id":"JfMKe6UVIbmHqonl","name":"OpenAi account"}}},{"parameters":{"chatId":"=test_bot","text":"=Error in workflow","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"43dc8fad-f201-4318-a286-d2663d2e3ca1","name":"Send Error Message 2","type":"n8n-nodes-base.telegram","position":[2280,2140],"webhookId":"301d5078-520b-416a-a233-404c8bb730fd","typeVersion":1.2,"credentials":{"telegramApi":{"id":"hoEQHqqA3IjjbVfJ","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=Error in workflow","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"91d9ded6-df3b-4bfc-b9e6-8a11d2d81c1d","name":"Send Error Message 1","type":"n8n-nodes-base.telegram","position":[2280,1600],"webhookId":"a8545dcd-9291-4d7c-b960-0cfc0228d603","typeVersion":1.2,"credentials":{"telegramApi":{"id":"hoEQHqqA3IjjbVfJ","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"0de1791e-055d-466b-8fa9-ce781bc7dd2c","name":"Send Document Summary as Telegram Message","type":"n8n-nodes-base.telegram","position":[2520,1340],"webhookId":"8daf3237-b1bd-43d1-b5f1-538c3e932e96","typeVersion":1.2,"credentials":{"telegramApi":{"id":"hoEQHqqA3IjjbVfJ","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Please analyze this document and provide:\n\n## Document Analysis\n- A concise executive summary (2-3 sentences)\n- Key themes and main points\n- Notable findings or insights\n- Data highlights and important statistics (if applicable)\n\n## Recommendations\n- Action items or next steps\n- Areas requiring further investigation\n- Potential implications\n\n## Format Requirements\n- Structure the analysis using clear headers and sections\n- Include relevant quotes to support key points\n- Present any numerical data in tables or bullet points\n- Highlight critical information using bold text\n\nPlease maintain the original document's context while making the content more accessible and actionable.\n\nHere is the document: {{ $json.data }}\n"},"id":"d4cfdde0-4e23-4c9a-aa2e-a826cc851dfc","name":"Summarize Document","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1880,1460],"typeVersion":1.5,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"inputText":"={{ $json.data }}","categories":{"categories":[{"category":"not invoice","description":"The document is not an invoice"},{"category":"invoice","description":"The document is an invoice"}]},"options":{}},"id":"272a19ec-4fe8-4109-8871-c09ed62e8ded","name":"Classify Parsed Document","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[1380,1620],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"55b5a755-eeaf-4ce7-b600-e6c864dc7e10","name":"data","type":"string","value":"={{ $json.body.md }}"}]},"options":{}},"id":"212ee685-6599-490f-a1af-faa8fd69f1f6","name":"Get Parsed Markdown","type":"n8n-nodes-base.set","position":[1080,1620],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"cee9e2d3-b311-4903-9867-e7d3d7ed2456","name":"google_drive_fileid","type":"string","value":"={{ $json.id }}"},{"id":"5c6eddf6-5a5e-4c51-87ed-8e3aabc2f65d","name":"webViewLink","type":"string","value":"={{ $json.webViewLink }}"}]},"options":{}},"id":"d825c83d-da31-4d37-b26e-a2e9298ebdf7","name":"Prepare Data","type":"n8n-nodes-base.set","position":[2420,520],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c9c59aae-b507-4493-a047-495bed344a5e","name":"extension","type":"string","value":"={{ $('Set File ID').item.json.file_type }}"}]},"options":{}},"id":"8eb1ea15-5283-4f7a-94f4-775909230621","name":"Edit Fields","type":"n8n-nodes-base.set","position":[1500,680],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"id":"3f81e9cd-6c42-429d-b9f2-57c57bb25bfc","name":"Merge Email Processing","type":"n8n-nodes-base.merge","position":[2680,520],"typeVersion":3},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"9d747588-d4ce-4aa7-8ce4-866f074e9823","name":"Merge","type":"n8n-nodes-base.merge","position":[1940,520],"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f76cc5a7-6882-4e1f-86d5-99d5d9e90a34","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Aggregate').item.json.extensions.includes($json.extension)}}","rightValue":""}]},"options":{}},"id":"d125886e-0a04-419e-8201-763f1dc3dfdd","name":"If Supported File Extensions","type":"n8n-nodes-base.if","position":[1680,680],"typeVersion":2.2},{"parameters":{},"id":"9bca013c-ad08-49d6-9dab-7262b1ac3f1e","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[1940,760],"typeVersion":1},{"parameters":{"content":"## Check for Supported File Extension\nhttps://docs.cloud.llamaindex.ai/API/get-supported-file-extensions-api-v-1-parsing-supported-file-extensions-get","height":320,"width":920},"id":"d2e8f6b0-30e0-4ba5-b836-64cd58f2ef35","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[920,560],"typeVersion":1},{"parameters":{"content":"## Save Document to Google Drive","height":300,"width":460,"color":4},"id":"501ca0ed-2c5d-43a5-bb94-be3ab02fedcf","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2140,420],"typeVersion":1},{"parameters":{"content":"## Summarize the Document","height":380,"width":460,"color":5},"id":"b889d7cd-d1b2-40de-9aa9-07b9f17aec74","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2140,760],"typeVersion":1},{"parameters":{"content":"## Save To Google Sheets","height":300,"width":300,"color":4},"id":"c57b4260-214c-44e1-8713-99b60d219168","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2840,420],"typeVersion":1},{"parameters":{"content":"# Description\n\nThis workflow automates document processing using LlamaParse to extract and analyze text from various file formats. It intelligently processes documents, extracts structured data, and delivers actionable insights through multiple channels.\n\n## How It Works\n\n### Document Ingestion & Processing 📄\n- Accepts document via a local file\n- Validates file formats against supported LlamaParse extensions\n- Uploads documents to LlamaParse for advanced text extraction\n- Stores original documents in Google Drive for reference\n\n### Intelligent Document Analysis 🧠\n- Automatically classifies document types (invoices, reports, etc.)\n- Extracts structured data using customized AI prompts\n- Generates comprehensive document summaries with key insights\n- Converts unstructured text into organized JSON data\n\n### Invoice Processing Automation 💼\n- Extracts critical invoice details (dates, amounts, line items)\n- Organizes financial data into structured formats\n- Calculates tax breakdowns, subtotals, and payment information\n- Maintains detailed records for accounting purposes\n\n### Multi-Channel Delivery 📱\n- Saves extracted data to Google Sheets for tracking and analysis\n- Sends concise summaries via Telegram for immediate review\n- Creates searchable document archives in Google Drive\n- Updates spreadsheets with structured financial information\n\n## Setup Steps\n\n### Configure API Credentials 🔑\n- Set up LlamaParse API connection\n- Configure Gmail OAuth for email monitoring\n- Set up Google Drive and Sheets integrations\n- Add Telegram bot credentials for notifications\n\n### Customize AI Processing ⚙️\n- Adjust document classification parameters\n- Modify extraction templates for specific document types\n- Fine-tune summary generation prompts\n- Customize invoice data extraction schema\n\n### Test and Deploy 🚀\n- Test with sample documents of various formats\n- Verify data extraction accuracy\n- Confirm notification delivery\n- Monitor processing pipeline performance\n\n\n","height":1340,"width":540},"id":"013c1f31-2128-421f-a712-3043e8a07168","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"# ✨🔪 Advanced AI Powered Document Parsing & Text Extraction with Llama Parse\n","height":1180,"width":2600,"color":7},"id":"7643c781-2558-445b-8f35-72aea5acfaa1","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[580,-20],"typeVersion":1},{"parameters":{"content":"## Example Invoice Processing\n","height":540,"width":1160,"color":6},"id":"e5a36b71-5c81-4e1a-ba48-249c1ee8abe4","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1780,1820],"typeVersion":1},{"parameters":{"content":"## Extract Invoice as JSON\n☀️Update User & System Prompt for Your Specific Use Case","height":420,"width":360},"id":"996a25e6-c5ff-4ce7-ba6b-a2a38b220f48","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1840,1900],"typeVersion":1},{"parameters":{"content":"## Example Document Summarizing\n","height":520,"width":980,"color":5},"id":"af8cb6ff-7ada-4707-942d-bda4d6a2799a","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1780,1260],"typeVersion":1},{"parameters":{"content":"## Summarize Document\n☀️Update User & System Prompt for Your Specific Use Case","height":400,"width":360},"id":"faeeb33e-f2e8-47ae-b0cb-a5443e8e73e5","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1840,1340],"typeVersion":1},{"parameters":{"content":"## Classify Parsed Document\nAdd More Classifications as Required","height":420,"width":440,"color":4},"id":"aaaa4723-8a16-423d-a3b8-3f15b85caa25","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1300,1500],"typeVersion":1},{"parameters":{"content":"## Parsed Markdown from LlamaParse","height":320,"width":260,"color":3},"id":"6e305065-3a40-4cc5-82b4-25d68468cf00","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[1000,1500],"typeVersion":1},{"parameters":{"content":"## Receive Parsed Document from LlamaParse","height":320,"width":340},"id":"82e4a462-e0e1-4a16-aeb7-4cd49d416cef","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[620,1500],"typeVersion":1},{"parameters":{"content":"# 🪝Webhook to Receive LlamaParse Response","height":1180,"width":2400,"color":7},"id":"ecfbfecd-477b-49e4-bd3b-66fe9123f951","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[580,1220],"typeVersion":1},{"parameters":{"content":"## Save Parsed Document to Google Drive","height":400,"width":440,"color":5},"id":"604f9246-a5c3-448a-a415-309c33cee066","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[1300,1960],"typeVersion":1},{"parameters":{"operation":"createFromText","content":"={{ $json.text }}","name":"={{ $('Webhook').item.json.body.jobId }}-summary.md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultUrl":"https://drive.google.com/drive","cachedResultName":"/ (Root folder)"},"options":{}},"id":"3f1a6ebb-6b36-4b86-9486-1db279ee07d9","name":"Save Summarized Document to Google Drive","type":"n8n-nodes-base.googleDrive","position":[2520,1540],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"p6nm0wk6RlvHuBND","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $json.data }}","name":"={{ $('Webhook').item.json.body.jobId }}-parsed.md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultUrl":"https://drive.google.com/drive","cachedResultName":"/ (Root folder)"},"options":{}},"id":"33562792-f03f-4894-9752-ae9893763592","name":"Save Parsed Document to Google Drive","type":"n8n-nodes-base.googleDrive","position":[1460,2100],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"p6nm0wk6RlvHuBND","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"={{ $('Is there an Email Attachement').item.json.text }}","messages":{"messageValues":[{"message":"You are an expert at summarizing email messages.  Provide a summary of the provided email."}]}},"id":"80e09d3b-afb4-482e-bbea-378cc4f47c26","name":"Summarize the document","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[2240,860],"typeVersion":1.5},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.path }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.path.split(/[\\\\/]/).pop().split('.').pop(); }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.path.split(/[\\\\/]/).pop().split('.').slice(0, -1).join('.'); }}","type":"string"}]},"options":{}},"id":"aa06a9d7-3b2d-4b95-800c-bb165e64bfaf","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,680]},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,680],"id":"f2bf7987-9620-4925-8d3f-6825451c9c49","name":"Loop Over Items"},{"parameters":{"triggerOn":"folder","path":"/data/shared","events":["add","change"],"options":{"followSymlinks":true,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[940,680],"id":"1e6660eb-3788-49c0-b513-460a062f566c","name":"Local File Trigger"}],"connections":{"Merge":{"main":[[{"node":"Parse Document with LlamaParse","type":"main","index":0},{"node":"Save Document to Google Drive","type":"main","index":0},{"node":"Summarize the document","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Parsed Markdown","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If Supported File Extensions","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Summarize the document","type":"ai_languageModel","index":0}]]},"Prepare Data":{"main":[[{"node":"Merge Email Processing","type":"main","index":1}]]},"gpt-4o-mini1":{"ai_languageModel":[[{"node":"Classify Parsed Document","type":"ai_languageModel","index":0}]]},"gpt-4o-mini2":{"ai_languageModel":[[{"node":"Extract Invoice Details as JSON","type":"ai_languageModel","index":0}]]},"gpt-4o-mini3":{"ai_languageModel":[[{"node":"Summarize Document","type":"ai_languageModel","index":0}]]},"Invoice Details":{"main":[[{"node":"Prepare Message","type":"main","index":0},{"node":"Update Google Sheet by LlamaParse ID","type":"main","index":0}]]},"Prepare Message":{"main":[[{"node":"Send Invoice Details as Telegram Message","type":"main","index":0}]]},"Summarize Document":{"main":[[{"node":"Send Document Summary as Telegram Message","type":"main","index":0},{"node":"Save Summarized Document to Google Drive","type":"main","index":0}],[{"node":"Send Error Message 1","type":"main","index":0}]]},"Get Parsed Markdown":{"main":[[{"node":"Classify Parsed Document","type":"main","index":0},{"node":"Save Parsed Document to Google Drive","type":"main","index":0}]]},"Merge Email Processing":{"main":[[{"node":"Save LlamaParse ID and Summary to Google Sheets","type":"main","index":0}]]},"Classify Parsed Document":{"main":[[{"node":"Summarize Document","type":"main","index":0}],[{"node":"Extract Invoice Details as JSON","type":"main","index":0}]]},"If Supported File Extensions":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Save Document to Google Drive":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Parse Document with LlamaParse":{"main":[[{"node":"Merge Email Processing","type":"main","index":0}]]},"Extract Invoice Details as JSON":{"main":[[{"node":"Invoice Details","type":"main","index":0}],[{"node":"Send Error Message 2","type":"main","index":0}]]},"Summarize the document":{"main":[[{"node":"Merge Email Processing","type":"main","index":2}]]},"Set File ID":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f561e74-6011-4341-b63c-5d0f1c0cf991","triggerCount":0,"shared":[{"createdAt":"2025-05-14T18:30:24.953Z","updatedAt":"2025-05-14T18:30:24.953Z","role":"workflow:owner","workflowId":"xqMX8EKMWK7auRkn","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}