n8n/workflows/ai_invoice_agent_openai.json
{"createdAt":"2025-05-09T19:53:22.115Z","updatedAt":"2025-05-10T00:33:49.037Z","id":"gCnLlDI3xicbtYzS","name":"ai_invoice_agent_openai","active":false,"nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"You are an AI assistant that extracts structured data from invoices for entry into a Google Sheets database. The invoices can come from any vendor or business type (e.g., cleaners, IT suppliers, consultants, utility bills, etc.).\n\n## TASK\nExtract the following fields from the invoice text input. Return the output as a valid JSON object inside a markdown code block.\n\n## OUTPUT FORMAT\n```json\n{\n  \"invoice_number\": \"string\",\n  \"vendor\": \"string\",\n  \"customer_name\": \"string\",\n  \"customer_address\": \"string\",\n  \"date\": \"YYYY-MM-DD\",\n  \"due_date\": \"YYYY-MM-DD\",\n  \"description\": \"string\", // Combine all line items into one string (e.g. '2x keyboards, 1x monitor')\n  \"subtotal\": number,\n  \"tax\": number,\n  \"total\": number,\n  \"status\": \"Paid\" | \"Unpaid\" | \"Overdue\" | null\n}\n\n## RULES\nIf any value is not available or clearly shown, return null for that field.\n\nAlways format the JSON inside a single code block.\n\nDates must be ISO format (YYYY-MM-DD).\n\nDo not include any explanations or additional text outside the code block.","inputType":"base64","binaryPropertyName":"data0","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"9185ee34-9aee-41f5-862b-f7021352133a","name":"OpenAI","credentials":{"openAiApi":{"id":"JfMKe6UVIbmHqonl","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"10LaY4FHAR3yGVf9in-UADUq_EmRJbGOq6-wW5gT7sIA","mode":"list","cachedResultName":"invoices","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10LaY4FHAR3yGVf9in-UADUq_EmRJbGOq6-wW5gT7sIA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10LaY4FHAR3yGVf9in-UADUq_EmRJbGOq6-wW5gT7sIA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Invoice #":"={{ $json.invoice_number }}","Vendor":"={{ $json.vendor }}","Date":"={{ $json.date }}","Due":"={{ $json.due_date }}","Description":"={{ $json.description }}","Subtotal":"={{ $json.subtotal }}","Tax ":"={{ $json.tax }}","Total":"={{ $json.total }}","Status":"={{ $json.status }}","Customer name":"={{ $json.customer_name }}","Customer Address":"={{ $json.customer_address }}"},"matchingColumns":[],"schema":[{"id":"Invoice #","displayName":"Invoice #","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Due","displayName":"Due","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Customer name","displayName":"Customer name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Customer Address","displayName":"Customer Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Subtotal","displayName":"Subtotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax ","displayName":"Tax ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[660,0],"id":"f13e31cf-ecce-4353-a232-a4c0e467200e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"CxRekr7IADUHFJyD","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const raw = $input.first().json.content;\n\nlet parsed;\nlet markdown;\n\ntry {\n  // Step 1: Strip code block\n  const cleaned = raw.replace(/```json\\n|```/g, '').trim();\n\n  // Step 2: Parse JSON\n  parsed = JSON.parse(cleaned);\n\n  // Step 3: Build Markdown summary\n  markdown = `\n**Invoice Summary**\n\n- **Invoice #:** ${String(parsed.invoice_number || 'N/A')}\n- **Vendor:** ${String(parsed.vendor || 'N/A')}\n- **Date:** ${String(parsed.date || 'N/A')}\n- **Due Date:** ${String(parsed.due_date || 'N/A')}\n- **Description:** ${String(parsed.description || 'N/A')}\n- **Subtotal:** $${parsed.subtotal != null ? parsed.subtotal.toFixed(2) : '0.00'}\n- **Tax:** $${parsed.tax != null ? parsed.tax.toFixed(2) : '0.00'}\n- **Total:** $${parsed.total != null ? parsed.total.toFixed(2) : '0.00'}\n- **Status:** ${String(parsed.status || 'N/A')}\n`.trim();\n\n} catch (error) {\n  throw new Error(\"Failed to parse JSON from OpenAI output: \" + error.message);\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    markdown\n  },\n  binary: $input.first().binary // 👈 This keeps the file intact\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"28d48e47-4dbb-4239-94a5-39dc825231d9","name":"Code"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[860,220],"id":"56acc96e-e2eb-4029-8622-19332edfb0fa","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"JfMKe6UVIbmHqonl","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Code').item.json.markdown }}","options":{"systemMessage":"You are an AI Invoice Assistant responsible for replying to vendors or service providers who send invoices to our company, Bart Corp.\n\n## ROLE\nYou act on behalf of Bart Corp’s finance or operations team. Your tone is friendly and professional. Your job is to acknowledge receipt of vendor invoices and keep the communication clear and respectful.\n\n## CONTEXT\nYou will receive invoice information in **Markdown format**. The invoice may be from any type of vendor (e.g., cleaning services, IT suppliers, freelancers, etc.). The Markdown format was generated by another AI that parsed the invoice into structured text.\n\nYour response will be used as an **email reply** to the vendor who sent the invoice.\n\n## OBJECTIVE\nGenerate a short, polite, and professional email that:\n1. Confirms receipt of the invoice.\n2. References key details from the invoice, such as invoice number, total amount, and vendor name.\n3. Assures the sender that the invoice has been recorded.\n4. Closes with a professional note (e.g., “We’ll be in touch if anything else is needed”).\n\n## INSTRUCTIONS\n- Do not use personal names in the email.\n- Do not include greetings like “Hi” or sign-offs like “Best regards.”\n- The tone should be calm, helpful, and neutral.\n- Keep the message to 3–5 short sentences.\n- Use information directly from the Markdown input provided.\n- Output only the final email text (no commentary, no JSON).\n\n## INPUT FORMAT\nYou will receive a block of Markdown containing the invoice data.\n\n## SAMPLE INPUT\nInvoice Summary\n\nInvoice #: 12345\n\nVendor: CleanCo Pty Ltd\n\nDate: 2024-04-24\n\nDue Date: 2024-05-01\n\nDescription: Weekly cleaning service\n\nSubtotal: $600.00\n\nTax: $60.00\n\nTotal: $660.00\n\nStatus: Unpaid\n\nperl\nCopy\nEdit\n\n## SAMPLE OUTPUT\nWe’ve received your invoice **#12345** for a total of **$660.00** from **CleanCo Pty Ltd**, dated **2024-04-24**.  \nThanks for sending that through. The details have been recorded in our system and no further action is needed at this stage.  \nIf anything else is required, a member of the Bart Corp team will be in touch."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[880,0],"id":"ac5c88be-aeb9-4a81-a204-8ec2e329d7c0","name":"AI Invoice Agent"},{"parameters":{"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"6443dfe1-a3cf-4b85-aff5-12c2355d8d9a","name":"When chat message received","webhookId":"811ca30c-ea2b-4dab-8aa2-3268b642cea6"},{"parameters":{"content":"## See\nhttps://www.youtube.com/watch?v=2QdpKxYGVF0&t=84s\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,-160],"id":"567c5a4e-4175-4500-8421-28dc473dfe22","name":"Sticky Note"}],"connections":{"OpenAI":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"AI Invoice Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Invoice Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a9edc871-e285-40b9-b2b8-396a53304c16","triggerCount":0,"shared":[{"createdAt":"2025-05-09T19:53:22.115Z","updatedAt":"2025-05-09T19:53:22.115Z","role":"workflow:owner","workflowId":"gCnLlDI3xicbtYzS","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[{"createdAt":"2025-05-09T19:52:19.405Z","updatedAt":"2025-05-09T19:52:19.405Z","id":"FyfpyAHMq9y6fz7r","name":"youtube"}]}