n8n/workflows/create person in Twenty crm.json
{"createdAt":"2025-05-15T14:41:35.328Z","updatedAt":"2025-05-15T16:16:47.766Z","id":"q2Wgn4hGbAB8h4xy","name":"create person in Twenty crm","active":false,"nodes":[{"parameters":{},"id":"b45b3c0e-da9e-4ccc-bfce-58a7262f7e65","name":"Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-360,-60]},{"parameters":{"jsCode":"// Function to generate a random phone number\nfunction generatePhone() {\n    return Math.floor(Math.random() * 9000000000 + 1000000000).toString();\n}\n\n// Function to generate a random email\nfunction generateEmail(firstName, lastName) {\n    const domains = ['gmail.com', 'yahoo.com', 'outlook.com', 'company.com'];\n    const domain = domains[Math.floor(Math.random() * domains.length)];\n    return `${firstName.toLowerCase()}.${lastName.toLowerCase()}@${domain}`;\n}\n\n// List of sample first names and last names\nconst firstNames = ['John', 'Jane', 'Michael', 'Emily', 'David', 'Sarah', 'James', 'Emma', 'William', 'Olivia'];\nconst lastNames = ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Garcia', 'Miller', 'Davis', 'Rodriguez', 'Martinez'];\nconst cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'];\nconst jobTitles = ['Software Engineer', 'Product Manager', 'Sales Director', 'Marketing Manager', 'CEO', 'CTO', 'CFO', 'HR Manager'];\n\n// Generate random person data\nconst firstName = firstNames[Math.floor(Math.random() * firstNames.length)];\nconst lastName = lastNames[Math.floor(Math.random() * lastNames.length)];\nconst city = cities[Math.floor(Math.random() * cities.length)];\nconst jobTitle = jobTitles[Math.floor(Math.random() * jobTitles.length)];\n\nreturn [\n  {\n    json: {\n      data: {\n        name: {\n          firstName,\n          lastName\n        },\n        emails: {\n          primaryEmail: generateEmail(firstName, lastName)\n        },\n        phones: {\n          primaryPhoneNumber: generatePhone(),\n          primaryPhoneCountryCode: 'US',\n          primaryPhoneCallingCode: '1'\n        },\n        city,\n        jobTitle\n      }\n    }\n  }\n];"},"id":"5a2ee343-97ae-47fe-953f-03474e96d097","name":"Generate Random Data","type":"n8n-nodes-base.code","typeVersion":1,"position":[-220,-60]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"generatedData","value":"={{ $json }}"}]},"options":{}},"id":"3ed3904c-97a3-4fb6-a83e-86987bff2e86","name":"Debug Generated Data","type":"n8n-nodes-base.set","typeVersion":1,"position":[-60,-60]},{"parameters":{"resource":"person","operation":"createOnePerson","query":{},"firstName":"={{ $json.generatedData.data.name.firstName }}","lastName":"={{ $json.generatedData.data.name.lastName }}","email":"={{ $json.generatedData.data.emails.primaryEmail }}","phoneNumber":"={{ $json.generatedData.data.phones.primaryPhoneNumber }}","additionalFields":{"city":"={{ $json.generatedData.data.city }}","jobTitle":"={{ $json.generatedData.data.jobTitle }}"}},"id":"b974f042-c6ea-448f-a534-e6abe335e16a","name":"Twenty","type":"n8n-nodes-twenty.twenty","typeVersion":1,"position":[140,-60],"credentials":{"twentyApi":{"id":"m2aupfqEVDqf8DDY","name":"Twenty account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"apiResponse","value":"={{ $json }}"}]},"options":{}},"id":"08d3b512-7df6-42fc-8681-63b7feaef77b","name":"Debug API Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[340,-60]}],"connections":{"Manual":{"main":[[{"node":"Generate Random Data","type":"main","index":0}]]},"Generate Random Data":{"main":[[{"node":"Debug Generated Data","type":"main","index":0}]]},"Debug Generated Data":{"main":[[{"node":"Twenty","type":"main","index":0}]]},"Twenty":{"main":[[{"node":"Debug API Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"624f77b0-fd0f-4764-88de-f0047b7ea758","triggerCount":0,"shared":[{"createdAt":"2025-05-15T14:41:35.328Z","updatedAt":"2025-05-15T14:41:35.328Z","role":"workflow:owner","workflowId":"q2Wgn4hGbAB8h4xy","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}