n8n/workflows/create folders in dropbox with sample contact data.json
{"createdAt":"2025-05-12T02:20:19.426Z","updatedAt":"2025-05-12T14:26:36.012Z","id":"jgpi52YHLgCue2J9","name":"create folders in dropbox with sample contact data","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,180],"id":"5040dcdb-334a-4781-9bd4-34f722fbc619"},{"parameters":{"functionCode":"// Generate 30 folders with mock customer names\nconst customerNames = [\n  \"Emma Johnson\",\n  \"Liam Smith\",\n  \"Olivia Williams\",\n  \"Noah Brown\",\n  \"Ava Jones\",\n  \"Elijah Garcia\",\n  \"Isabella Martinez\",\n  \"Lucas Rodriguez\",\n  \"Mia Davis\",\n  \"Mason Hernandez\",\n  \"Sophia Lopez\",\n  \"Logan Gonzalez\",\n  \"Amelia Wilson\",\n  \"Ethan Anderson\",\n  \"Harper Thomas\",\n  \"James Taylor\",\n  \"Evelyn Moore\",\n  \"Benjamin Jackson\",\n  \"Charlotte Martin\",\n  \"Henry Lee\",\n  \"Abigail Perez\",\n  \"Sebastian Thompson\",\n  \"Emily White\",\n  \"Alexander Harris\",\n  \"Elizabeth Clark\",\n  \"Daniel Lewis\",\n  \"Scarlett Robinson\",\n  \"Matthew Walker\",\n  \"Victoria Hall\",\n  \"Jack Allen\"\n];\n\n// Function to generate a random phone number\nconst generatePhoneNumber = () => {\n  const areaCode = Math.floor(Math.random() * 900 + 100); // 3-digit area code\n  const prefix = Math.floor(Math.random() * 900 + 100);   // 3-digit prefix\n  const lineNumber = Math.floor(Math.random() * 9000 + 1000); // 4-digit line number\n  return `+1-${areaCode}-${prefix}-${lineNumber}`;\n};\n\n// List of California cities\nconst californiaCities = [\n  \"Los Angeles\",\n  \"San Diego\",\n  \"San Jose\",\n  \"San Francisco\",\n  \"Fresno\",\n  \"Sacramento\",\n  \"Long Beach\",\n  \"Oakland\",\n  \"Anaheim\",\n  \"Santa Ana\",\n  \"Riverside\",\n  \"Bakersfield\",\n  \"Stockton\",\n  \"Irvine\",\n  \"Modesto\",\n  \"Oxnard\",\n  \"Fontana\",\n  \"Moreno Valley\",\n  \"Glendale\",\n  \"Huntington Beach\"\n];\n\n// List of job titles\nconst jobTitles = [\n  \"CEO\",\n  \"CTO\",\n  \"CFO\",\n  \"COO\",\n  \"VP of Sales\",\n  \"VP of Marketing\",\n  \"VP of Operations\",\n  \"Director of Engineering\",\n  \"Director of Product\",\n  \"Senior Manager\",\n  \"Project Manager\",\n  \"Business Development Manager\",\n  \"Sales Manager\",\n  \"Marketing Manager\",\n  \"Operations Manager\"\n];\n\n// Function to get a random city\nconst getRandomCity = () => {\n  return californiaCities[Math.floor(Math.random() * californiaCities.length)];\n};\n\n// Function to get a random job title\nconst getRandomJobTitle = () => {\n  return jobTitles[Math.floor(Math.random() * jobTitles.length)];\n};\n\nconst folders = customerNames.map((name, index) => ({\n  folderName: `/Customers/${name}`,\n  fileName: `customer_info_${index + 1}.txt`,\n  content: `Customer Information for ${name}\\n\\n` +\n    `Customer ID: CUST-${(index + 1).toString().padStart(3, '0')}\\n` +\n    `Account Manager: John Smith\\n` +\n    `Industry: Technology\\n` +\n    `Status: Active\\n` +\n    `Created at: ${new Date().toISOString()}\\n\\n` +\n    `Notes:\\n` +\n    `- Primary contact: ${name.split(' ')[0]}@${name.toLowerCase().replace(/\\s+/g, '')}.com\\n` +\n    `- Phone: ${generatePhoneNumber()}\\n` +\n    `- City: ${getRandomCity()}, CA\\n` +\n    `- Job Title: ${getRandomJobTitle()}\\n` +\n    `- Annual revenue: $${Math.floor(Math.random() * 10000000).toLocaleString()}\\n` +\n    `- Last contact: ${new Date(Date.now() - Math.random() * 30 * 24 * 60 * 60 * 1000).toISOString().split('T')[0]}`\n}));\n\nreturn {folders: folders};"},"name":"Generate Folders","type":"n8n-nodes-base.function","typeVersion":1,"position":[140,180],"id":"6f0b2e1c-921b-4d04-b0d3-4d33e6c1ad01"},{"parameters":{"path":"={{ $json.folders.folderName }}/{{ $json.folders.fileName }}","fileContent":"={{ $json.folders.content }}"},"name":"Upload File","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[520,420],"id":"d7d4649b-a191-4b35-aee5-b5b6306df662","credentials":{"dropboxApi":{"id":"DV686ixIxzX5cEw5","name":"Dropbox account"}}},{"parameters":{"resource":"folder","path":"={{ $json.folderName }}"},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[500,180],"id":"6fcbca18-ceea-4a6e-865c-5d7e758b5dad","name":"Dropbox create folder","credentials":{"dropboxApi":{"id":"DV686ixIxzX5cEw5","name":"Dropbox account"}}},{"parameters":{"fieldToSplitOut":"folders","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[320,180],"id":"a490fda6-ea9f-42aa-8350-86a05b97fe3a","name":"Split Out Folders"},{"parameters":{"fieldToSplitOut":"folders","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[340,420],"id":"f9390077-430c-4ecd-b6d1-bd6dd191b079","name":"Split Out Files"}],"connections":{"Start":{"main":[[{"node":"Generate Folders","type":"main","index":0}]]},"Generate Folders":{"main":[[{"node":"Split Out Folders","type":"main","index":0},{"node":"Split Out Files","type":"main","index":0}]]},"Split Out Folders":{"main":[[{"node":"Dropbox create folder","type":"main","index":0}]]},"Dropbox create folder":{"main":[[{"node":"Split Out Files","type":"main","index":0}]]},"Split Out Files":{"main":[[{"node":"Upload File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be818574-c2fa-4881-8317-665442cb0e45","triggerCount":0,"shared":[{"createdAt":"2025-05-12T02:20:19.426Z","updatedAt":"2025-05-12T02:20:19.426Z","role":"workflow:owner","workflowId":"jgpi52YHLgCue2J9","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}