n8n/workflows/dropbox-to-twenty-crm.json
{"createdAt":"2025-05-12T08:55:25.740Z","updatedAt":"2025-05-13T21:11:26.243Z","id":"Gik1RFkNb4wsdYFy","name":"dropbox-to-twenty-crm","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-920,20],"id":"19c11e19-d091-4c74-805f-50855ce47c4f","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"person","operation":"createOnePerson","query":{"depth":"1"},"additionalFields":{"emails":{"emailsFields":{"additionalEmails":[[]]}},"jobTitle":"","position":0}},"type":"n8n-nodes-twenty.twenty","typeVersion":1,"position":[340,760],"id":"f4c73451-71fe-48f3-98be-be7793597430","name":"Twenty","credentials":{"twentyApi":{"id":"m2aupfqEVDqf8DDY","name":"Twenty account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f7fda7a2-1961-41aa-a332-f9a8be9b3bfa","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"file"}]},"renameOutput":true,"outputKey":"file"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d8bb9414-ae11-4b8f-ad0e-6bfe0e2f1071","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"folder"}]},"renameOutput":true,"outputKey":"folder"}]},"options":{}},"id":"b644bb08-ad95-4b8d-ae18-11574358a970","name":"Switch File vs Folder","type":"n8n-nodes-base.switch","position":[-760,300],"typeVersion":3.2},{"parameters":{"resource":"folder","operation":"list","path":"=/Customers","returnAll":true,"filters":{"include_deleted":false,"include_mounted_folders":false}},"id":"517f09af-7952-40f3-b674-10f41941f96c","name":"Dropbox get customer folders","type":"n8n-nodes-base.dropbox","position":[-740,20],"typeVersion":1,"credentials":{"dropboxApi":{"id":"DV686ixIxzX5cEw5","name":"Dropbox account"}}},{"parameters":{"resource":"folder","operation":"list","path":"={{ $json.pathDisplay }}","returnAll":true,"filters":{"include_deleted":false,"include_mounted_folders":false}},"id":"bfc75d9a-014f-4488-beaf-950f2865dfd0","name":"Dropbox get customer files","type":"n8n-nodes-base.dropbox","position":[-960,300],"typeVersion":1,"credentials":{"dropboxApi":{"id":"DV686ixIxzX5cEw5","name":"Dropbox account"}}},{"parameters":{"operation":"download","path":"={{ $json.pathDisplay }}"},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-500,280],"id":"dcff5569-8e23-48d0-9002-be0b73b8b570","name":"Dropbox","credentials":{"dropboxApi":{"id":"DV686ixIxzX5cEw5","name":"Dropbox account"}}},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-20,760],"id":"a343dc0d-2242-4792-b65c-8545290d4104","name":"Extract from File","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"0e30f869-6564-4136-a837-d7b1890ba872"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"=csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $json.file_type }}","rightValue":"txt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"0b1989ea-0117-473a-94e4-6b207de2c65b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-500,580]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f7fda7a2-1961-41aa-a332-f9a8be9b3bfa","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"file"}]},"renameOutput":true,"outputKey":"file"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d8bb9414-ae11-4b8f-ad0e-6bfe0e2f1071","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"folder"}]},"renameOutput":true,"outputKey":"folder"}]},"options":{}},"id":"acd806b2-43a8-4498-9501-efca05c76c2c","name":"Switch get folders","type":"n8n-nodes-base.switch","position":[-560,20],"typeVersion":3.2},{"parameters":{"executeOnce":false,"command":"=mkdir -p '/data/shared{{ $json.pathDisplay }}'"},"name":"Execute Command to create folder","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-280,40],"id":"5c411c65-596c-48b7-a496-27bfe2935db0"},{"parameters":{"operation":"write","fileName":"=/data/shared{{ $json.pathDisplay }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-320,280],"id":"42460e56-6676-4192-ae09-859c5daf6e06","name":"Write Files to Disk","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.path }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.path.split(/[\\\\/]/).pop().split('.').pop(); }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.path.split(/[\\\\/]/).pop().split('.').slice(0, -1).join('.'); }}","type":"string"},{"id":"aa1a4bb7-016d-4e59-ad82-3acf3683fb70","name":"file_name","value":"={{ $json.path.split(/[\\\\/]/).pop().split('/').slice(0, 1).join('.');}}","type":"string"},{"id":"437af800-6d66-4079-b7a3-08351e40c31e","name":"folder_name","value":"={{ $json.path.split(/[\\\\/]/).slice(0,-1).join('/')","type":"string"},{"id":"a6b56470-43c3-46a0-be55-c6031434ffa8","name":"customer_name","value":"={{ $json.path.split(/[\\\\/]/).slice(0,-1).pop()","type":"string"}]},"options":{}},"id":"d77d9876-03ca-4b95-a391-e5d04b280c51","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,600]},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-960,580],"id":"c36dd79e-cec7-4f57-94e4-3b2fdc982667","name":"Loop Over Items"},{"parameters":{"triggerOn":"folder","path":"/data/shared","events":["add","change","addDir"],"options":{"usePolling":false}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-1180,580],"id":"a315e07f-e4cf-4b53-8d5e-56f684e007ee","name":"Local File Trigger"},{"parameters":{"fileSelector":"={{ $json.file_id }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-240,640],"id":"7d8eb525-b605-4c6a-be59-cc6572b5fcdc","name":"Read/Write Files from Disk"},{"parameters":{"jsCode":"const { json } = $input.first();\nconsole.log(json.fileName)\n\nlet newItem = { \n  \"file_name\" : json.fileName, \n  \"id\": json.id\n}\n\nreturn json;\n"},"name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[300,300],"id":"0d582ee5-dd2a-4ca3-a919-e141a50ce2a8"},{"parameters":{"fileSelector":"={{ $json.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-100,280],"id":"6de965ee-c82a-43da-b794-995b222dae0a","name":"Read/Write Files from Disk1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[100,280],"id":"dc1f1bae-6bee-4f9b-8f8d-99bda2751a6e","name":"Extract from File1","alwaysOutputData":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Dropbox get customer folders","type":"main","index":0}]]},"Dropbox get customer folders":{"main":[[{"node":"Switch get folders","type":"main","index":0}]]},"Dropbox get customer files":{"main":[[{"node":"Switch File vs Folder","type":"main","index":0}]]},"Switch File vs Folder":{"main":[[{"node":"Dropbox","type":"main","index":0}],[]]},"Dropbox":{"main":[[{"node":"Write Files to Disk","type":"main","index":0}]]},"Extract from File":{"main":[[]]},"Switch":{"main":[[],[],[],[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Switch get folders":{"main":[[],[{"node":"Dropbox get customer files","type":"main","index":0},{"node":"Execute Command to create folder","type":"main","index":0}]]},"Write Files to Disk":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b6722e43-c2d6-480a-be24-1f1246fac68e","triggerCount":1,"shared":[{"createdAt":"2025-05-12T08:55:25.740Z","updatedAt":"2025-05-12T08:55:25.740Z","role":"workflow:owner","workflowId":"Gik1RFkNb4wsdYFy","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}