n8n/workflows/Invoice_Processing_with_Mistral_OCR___Demo.json
{"createdAt":"2025-05-05T22:50:54.454Z","updatedAt":"2025-05-12T04:19:24.996Z","id":"DQbNW5Csb9x0W2kt","name":"Invoice_Processing_with_Mistral_OCR___Demo","active":false,"nodes":[{"parameters":{"formTitle":"invoice","formFields":{"values":[{"fieldLabel":"invoice","fieldType":"file"},{"fieldLabel":"What is your email address?","fieldType":"email"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"7ac7f06d-ec04-4b37-b52e-db1b19200f42","name":"On form submission","webhookId":"e9c1a094-e83e-4431-8bac-20dd66f514a6"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"invoice"},{"name":"purpose","value":"ocr"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,0],"id":"7982a574-2c38-4184-be6c-77ac461c8788","name":"send pdf to Mistral","credentials":{"mistralCloudApi":{"id":"YLNMurYuaAP9sWyn","name":"Mistral Cloud account"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url?expiry=24","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,0],"id":"fddef978-d800-49c3-b449-099f04e865fa","name":"mistral - get signed url","credentials":{"mistralCloudApi":{"id":"YLNMurYuaAP9sWyn","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"=Read this invoice and pull out all the info and prepare it to be updated into google sheets\n\n{{ $json.pages[0].markdown }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1060,0],"id":"b3a7ffb0-e59f-4eef-a236-b8a954a7204e","name":"AI Agent"},{"parameters":{"model":"mistral-small-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[1040,280],"id":"1a15bc78-1350-47e3-874d-24a0b4c58bb5","name":"Mistral Cloud Chat Model1","credentials":{"mistralCloudApi":{"id":"YLNMurYuaAP9sWyn","name":"Mistral Cloud account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"invoice_information\": {\n    \"invoice_number\": \"string\",\n    \"invoice_date\": \"date\",\n    \"due_date\": \"date\",\n    \"purchase_order_number\": \"string\",\n    \"payment_terms\": \"string\",\n    \"currency\": \"string\",\n    \"language\": \"string\"\n  },\n  \"vendor_information\": {\n    \"name\": \"string\",\n    \"address\": {\n      \"street\": \"string\",\n      \"city\": \"string\",\n      \"state_province\": \"string\",\n      \"postal_code\": \"string\",\n      \"country\": \"string\"\n    },\n    \"contact\": {\n      \"phone\": \"string\",\n      \"email\": \"string\",\n      \"website\": \"string\"\n    },\n    \"tax_information\": {\n      \"tax_id\": \"string\",\n      \"vat_number\": \"string\"\n    },\n    \"bank_information\": {\n      \"bank_name\": \"string\",\n      \"account_number\": \"string\",\n      \"routing_number\": \"string\",\n      \"swift_bic_code\": \"string\",\n      \"iban\": \"string\"\n    }\n  },\n  \"customer_information\": {\n    \"name\": \"string\",\n    \"customer_id\": \"string\",\n    \"address\": {\n      \"street\": \"string\",\n      \"city\": \"string\",\n      \"state_province\": \"string\",\n      \"postal_code\": \"string\",\n      \"country\": \"string\"\n    },\n    \"billing_address\": {\n      \"street\": \"string\",\n      \"city\": \"string\",\n      \"state_province\": \"string\",\n      \"postal_code\": \"string\",\n      \"country\": \"string\"\n    },\n    \"shipping_address\": {\n      \"street\": \"string\",\n      \"city\": \"string\",\n      \"state_province\": \"string\",\n      \"postal_code\": \"string\",\n      \"country\": \"string\"\n    }\n  },\n  \"line_items\": [\n    {\n      \"item_number\": \"string\",\n      \"description\": \"string\",\n      \"quantity\": \"number\",\n      \"unit_of_measure\": \"string\",\n      \"unit_price\": \"number\",\n      \"discount\": \"number\",\n      \"tax_rate\": \"number\",\n      \"tax_amount\": \"number\",\n      \"line_total\": \"number\"\n    }\n  ],\n  \"summary\": {\n    \"subtotal\": \"number\",\n    \"discounts\": {\n      \"amount\": \"number\",\n      \"description\": \"string\"\n    },\n    \"shipping\": {\n      \"amount\": \"number\",\n      \"method\": \"string\"\n    },\n    \"handling_fees\": \"number\",\n    \"tax_summary\": [\n      {\n        \"tax_type\": \"string\",\n        \"tax_rate\": \"number\",\n        \"taxable_amount\": \"number\",\n        \"tax_amount\": \"number\"\n      }\n    ],\n    \"total_tax_amount\": \"number\",\n    \"total_amount\": \"number\",\n    \"amount_paid\": \"number\",\n    \"amount_due\": \"number\"\n  },\n  \"payment_information\": {\n    \"payment_method\": \"string\",\n    \"payment_status\": \"string\",\n    \"payment_date\": \"date\",\n    \"payment_reference\": \"string\"\n  },\n  \"additional_information\": {\n    \"notes\": \"string\",\n    \"terms_and_conditions\": \"string\",\n    \"delivery_information\": \"string\",\n    \"custom_fields\": {\n      \"field_name\": \"string\"\n    }\n  },\n  \"metadata\": {\n    \"extraction_confidence\": \"number\",\n    \"processing_date\": \"date\",\n    \"original_file_name\": \"string\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1260,260],"id":"a6ca4d37-7fae-45cc-a780-ddec9da43261","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"83bf9877-53c6-42e4-91ee-de9efb7ff86e","name":"output.invoice_information.invoice_number","value":"={{ $json.output.invoice_information.invoice_number }}","type":"string"},{"id":"7525db21-4706-4778-a84f-e4ae46754e7e","name":"output.invoice_information.invoice_date","value":"={{ $json.output.invoice_information.invoice_date }}","type":"string"},{"id":"06d04371-2927-4f6b-8e70-4a000a66a782","name":"output.invoice_information.due_date","value":"={{ $json.output.invoice_information.due_date }}","type":"string"},{"id":"660ac039-f1a1-44b5-b245-b8314b7ef78d","name":"output.invoice_information.purchase_order_number","value":"={{ $json.output.invoice_information.purchase_order_number }}","type":"string"},{"id":"ab6cba41-b157-44d8-86dd-f82a13d269cf","name":"output.invoice_information.payment_terms","value":"={{ $json.output.invoice_information.payment_terms }}","type":"string"},{"id":"cfc68e26-a4e3-4cc7-81a7-3419a55f9f61","name":"output.invoice_information.currency","value":"={{ $json.output.invoice_information.currency }}","type":"string"},{"id":"5bdaca14-c182-4250-ac9d-1469ddc005f6","name":"output.invoice_information.language","value":"={{ $json.output.invoice_information.language }}","type":"string"},{"id":"3227ef10-cc64-499a-9746-b5a570923ae3","name":"output.vendor_information.name","value":"={{ $json.output.vendor_information.name }}","type":"string"},{"id":"39588815-902d-42cb-86cd-3db016692f82","name":"output.vendor_information.address.street","value":"={{ $json.output.vendor_information.address.street }}","type":"string"},{"id":"caeeae49-44e1-4bfc-babb-23c17f3990d3","name":"output.vendor_information.address.city","value":"={{ $json.output.vendor_information.address.city }}","type":"string"},{"id":"472ed588-ed82-4c82-b55e-6a5847ed745b","name":"output.vendor_information.address.state_province","value":"={{ $json.output.vendor_information.address.state_province }}","type":"string"},{"id":"6d91ce00-d8dd-412a-b9eb-b7957fcea25e","name":"output.vendor_information.address.postal_code","value":"={{ $json.output.vendor_information.address.postal_code }}","type":"string"},{"id":"a89789f6-b482-4de8-afed-cf7c0f3d2dda","name":"output.vendor_information.address.country","value":"={{ $json.output.vendor_information.address.country }}","type":"string"},{"id":"1cbcef92-464e-4a19-bd75-fb04619c7689","name":"output.vendor_information.contact.phone","value":"={{ $json.output.vendor_information.contact.phone }}","type":"string"},{"id":"3e7c5351-dd06-415c-a3af-5c3ad2de5d29","name":"output.vendor_information.contact.email","value":"={{ $json.output.vendor_information.contact.email }}","type":"string"},{"id":"7b61b9a3-03fa-4a2f-98a2-db9128f08a69","name":"output.vendor_information.contact.website","value":"={{ $json.output.vendor_information.contact.website }}","type":"string"},{"id":"f222e9fa-4ae0-43f8-838d-a8fce5c68af0","name":"output.vendor_information.tax_information.tax_id","value":"={{ $json.output.vendor_information.tax_information.tax_id }}","type":"string"},{"id":"42da1757-5d6b-45ca-88da-294267916843","name":"output.vendor_information.tax_information.vat_number","value":"={{ $json.output.vendor_information.tax_information.vat_number }}","type":"string"},{"id":"5d36380a-62ad-4438-93ec-dff583bcfaad","name":"output.vendor_information.bank_information.bank_name","value":"={{ $json.output.vendor_information.bank_information.bank_name }}","type":"string"},{"id":"9179a0e9-badb-47a6-b68c-382e3ba25404","name":"output.vendor_information.bank_information.account_number","value":"={{ $json.output.vendor_information.bank_information.account_number }}","type":"string"},{"id":"496385ec-44bf-4ece-9f5a-45fd85b59102","name":"output.vendor_information.bank_information.routing_number","value":"={{ $json.output.vendor_information.bank_information.routing_number }}","type":"string"},{"id":"888505a0-4899-44e4-9b98-ad3647841d42","name":"output.vendor_information.bank_information.swift_bic_code","value":"={{ $json.output.vendor_information.bank_information.swift_bic_code }}","type":"string"},{"id":"ec583ec5-7da5-4d07-93f0-be151cd53b54","name":"output.vendor_information.bank_information.iban","value":"={{ $json.output.vendor_information.bank_information.iban }}","type":"string"},{"id":"e0032065-b757-4302-9e20-4a9ff244b28c","name":"output.customer_information.name","value":"={{ $json.output.customer_information.name }}","type":"string"},{"id":"9f46ac20-1ffb-49c4-a1b6-87549cce1154","name":"output.customer_information.customer_id","value":"={{ $json.output.customer_information.customer_id }}","type":"string"},{"id":"eb984972-6990-491c-8c53-23862befde93","name":"output.customer_information.address.street","value":"={{ $json.output.customer_information.address.street }}","type":"string"},{"id":"8593fcc8-9b08-448d-b085-ec1a24b1515f","name":"output.customer_information.address.city","value":"={{ $json.output.customer_information.address.city }}","type":"string"},{"id":"c6612c0e-0bf3-43e2-85f9-e0a081e0f35e","name":"output.customer_information.address.state_province","value":"={{ $json.output.customer_information.address.state_province }}","type":"string"},{"id":"27e99dac-7047-41fc-b9ed-904d6c8de480","name":"output.customer_information.address.postal_code","value":"={{ $json.output.customer_information.address.postal_code }}","type":"string"},{"id":"54f78941-34e8-4742-882b-7bf47b49c325","name":"output.customer_information.address.country","value":"={{ $json.output.customer_information.address.country }}","type":"string"},{"id":"2c3ccaed-bd99-49a7-af98-e5d553889c6c","name":"output.customer_information.billing_address.street","value":"={{ $json.output.customer_information.billing_address.street }}","type":"string"},{"id":"2ef39c03-1c6c-4671-8ae2-6db689bf4315","name":"output.customer_information.billing_address.city","value":"={{ $json.output.customer_information.billing_address.city }}","type":"string"},{"id":"dfbfc7ba-27b7-49b1-b420-ca545abdcf3d","name":"output.customer_information.billing_address.state_province","value":"={{ $json.output.customer_information.billing_address.state_province }}","type":"string"},{"id":"d27a1b1a-8ef0-45aa-a32a-73a43f00c243","name":"output.customer_information.billing_address.postal_code","value":"={{ $json.output.customer_information.billing_address.postal_code }}","type":"string"},{"id":"87712eca-0b8f-4a00-ae9a-d404d02b228d","name":"output.customer_information.billing_address.country","value":"={{ $json.output.customer_information.billing_address.country }}","type":"string"},{"id":"a8012604-96c0-4411-a720-56be30b6723f","name":"output.customer_information.shipping_address.street","value":"={{ $json.output.customer_information.shipping_address.street }}","type":"string"},{"id":"d13fb551-4fec-431f-b9fe-00345d884869","name":"output.customer_information.shipping_address.city","value":"={{ $json.output.customer_information.shipping_address.city }}","type":"string"},{"id":"1b53c841-7773-4724-97af-2ede496852f5","name":"output.customer_information.shipping_address.state_province","value":"={{ $json.output.customer_information.shipping_address.state_province }}","type":"string"},{"id":"1f56e5c7-c113-423f-9c18-55d043915c71","name":"output.customer_information.shipping_address.postal_code","value":"={{ $json.output.customer_information.shipping_address.postal_code }}","type":"string"},{"id":"e3e0bb60-01b6-4076-a13b-e1c25689a47f","name":"output.customer_information.shipping_address.country","value":"={{ $json.output.customer_information.shipping_address.country }}","type":"string"},{"id":"d08f5480-df0c-46ad-ad7b-c0872cbc1b85","name":"output.line_items","value":"={{ $json.output.line_items }}","type":"array"},{"id":"dbaf8b2b-d783-474d-9f6c-2720c7d24d71","name":"output.summary.subtotal","value":"={{ $json.output.summary.subtotal }}","type":"string"},{"id":"6b42d099-4438-4186-bcd9-dee7bab91522","name":"output.summary.discounts.amount","value":"={{ $json.output.summary.discounts.amount }}","type":"string"},{"id":"3949064f-345c-4c6b-9576-21ebefa320f9","name":"output.summary.discounts.description","value":"={{ $json.output.summary.discounts.description }}","type":"string"},{"id":"52fe3b1d-1a59-4770-896e-ff02bd4ec19b","name":"output.summary.shipping.amount","value":"={{ $json.output.summary.shipping.amount }}","type":"string"},{"id":"e96d9ade-fdab-4d21-bc33-02cd5b164ab7","name":"output.summary.shipping.method","value":"={{ $json.output.summary.shipping.method }}","type":"string"},{"id":"f5b812e6-0a8b-4c39-add1-e98fad204da3","name":"output.summary.handling_fees","value":"={{ $json.output.summary.handling_fees }}","type":"string"},{"id":"dae9c63d-fbf5-44f9-89b1-6480bc9a9773","name":"output.summary.tax_summary[0].tax_type","value":"={{ $json.output.summary.tax_summary[0].tax_type }}","type":"string"},{"id":"00118686-5271-4cda-bb44-a325cc905fa6","name":"output.summary.tax_summary[0].tax_rate","value":"={{ $json.output.summary.tax_summary[0].tax_rate }}","type":"string"},{"id":"5a65ac70-f234-4dbf-973a-362946e295fb","name":"output.summary.tax_summary[0].taxable_amount","value":"={{ $json.output.summary.tax_summary[0].taxable_amount }}","type":"string"},{"id":"a11e7d72-bbea-45e1-bea8-2042c7409b23","name":"output.summary.tax_summary[0].tax_amount","value":"={{ $json.output.summary.tax_summary[0].tax_amount }}","type":"string"},{"id":"040ced53-197c-441b-8f8b-c83a57775651","name":"output.payment_information.payment_method","value":"={{ $json.output.payment_information.payment_method }}","type":"string"},{"id":"66bdcc5e-6b0c-4a60-bf22-9959e6e027e0","name":"output.payment_information.payment_status","value":"={{ $json.output.payment_information.payment_status }}","type":"string"},{"id":"82269540-c1ca-4019-970a-05ecbe10d076","name":"output.payment_information.payment_date","value":"={{ $json.output.payment_information.payment_date }}","type":"string"},{"id":"20e7640e-5cc5-45d9-a2c8-082946a140b6","name":"output.payment_information.payment_reference","value":"={{ $json.output.payment_information.payment_reference }}","type":"string"},{"id":"916a5b03-24ef-4e4e-8330-3feee7bf2673","name":"output.additional_information.notes","value":"={{ $json.output.additional_information.notes }}","type":"string"},{"id":"8954ac1f-ddf9-40d0-8243-94542bb09939","name":"output.additional_information.terms_and_conditions","value":"={{ $json.output.additional_information.terms_and_conditions }}","type":"string"},{"id":"c31b0eb5-33db-4e6e-b097-b8cbe6e9922e","name":"output.additional_information.delivery_information","value":"={{ $json.output.additional_information.delivery_information }}","type":"string"},{"id":"c910f082-73c2-40bf-abf2-942048047e5f","name":"output.additional_information.custom_fields","value":"={{ $json.output.additional_information.custom_fields }}","type":"object"},{"id":"aefd2a78-0c8c-4c72-9b37-477b884bd877","name":"output.metadata.original_file_name","value":"={{ $json.output.metadata.original_file_name }}","type":"string"},{"id":"98f9e478-d4f0-442a-8794-7fe913cfe5d5","name":"output.metadata.processing_date","value":"={{ $json.output.metadata.processing_date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,0],"id":"a3cbcd4a-28c9-4aa4-8a00-a458ee5a8983","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,0],"id":"6698d32f-e61e-48b4-a335-a384be70f64f","name":"Get Parsed Invoice","credentials":{"mistralCloudApi":{"id":"YLNMurYuaAP9sWyn","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Please read the attached invoice document and extract all the relevant details. Output your result as a JSON following exactly the schema below:\\n\\n{\\n  \\\"invoice_information\\\": {\\n    \\\"invoice_number\\\": \\\"string\\\",\\n    \\\"invoice_date\\\": \\\"date\\\",\\n    \\\"due_date\\\": \\\"date\\\",\\n    \\\"purchase_order_number\\\": \\\"string\\\",\\n    \\\"payment_terms\\\": \\\"string\\\",\\n    \\\"currency\\\": \\\"string\\\",\\n    \\\"language\\\": \\\"string\\\"\\n  },\\n  \\\"vendor_information\\\": {\\n    \\\"name\\\": \\\"string\\\",\\n    \\\"address\\\": {\\n      \\\"street\\\": \\\"string\\\",\\n      \\\"city\\\": \\\"string\\\",\\n      \\\"state_province\\\": \\\"string\\\",\\n      \\\"postal_code\\\": \\\"string\\\",\\n      \\\"country\\\": \\\"string\\\"\\n    },\\n    \\\"contact\\\": {\\n      \\\"phone\\\": \\\"string\\\",\\n      \\\"email\\\": \\\"string\\\",\\n      \\\"website\\\": \\\"string\\\"\\n    },\\n    \\\"tax_information\\\": {\\n      \\\"tax_id\\\": \\\"string\\\",\\n      \\\"vat_number\\\": \\\"string\\\"\\n    },\\n    \\\"bank_information\\\": {\\n      \\\"bank_name\\\": \\\"string\\\",\\n      \\\"account_number\\\": \\\"string\\\",\\n      \\\"routing_number\\\": \\\"string\\\",\\n      \\\"swift_bic_code\\\": \\\"string\\\",\\n      \\\"iban\\\": \\\"string\\\"\\n    }\\n  },\\n  \\\"customer_information\\\": {\\n    \\\"name\\\": \\\"string\\\",\\n    \\\"customer_id\\\": \\\"string\\\",\\n    \\\"address\\\": {\\n      \\\"street\\\": \\\"string\\\",\\n      \\\"city\\\": \\\"string\\\",\\n      \\\"state_province\\\": \\\"string\\\",\\n      \\\"postal_code\\\": \\\"string\\\",\\n      \\\"country\\\": \\\"string\\\"\\n    },\\n    \\\"billing_address\\\": {\\n      \\\"street\\\": \\\"string\\\",\\n      \\\"city\\\": \\\"string\\\",\\n      \\\"state_province\\\": \\\"string\\\",\\n      \\\"postal_code\\\": \\\"string\\\",\\n      \\\"country\\\": \\\"string\\\"\\n    },\\n    \\\"shipping_address\\\": {\\n      \\\"street\\\": \\\"string\\\",\\n      \\\"city\\\": \\\"string\\\",\\n      \\\"state_province\\\": \\\"string\\\",\\n      \\\"postal_code\\\": \\\"string\\\",\\n      \\\"country\\\": \\\"string\\\"\\n    }\\n  },\\n  \\\"line_items\\\": [\\n    {\\n      \\\"item_number\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"string\\\",\\n      \\\"quantity\\\": \\\"number\\\",\\n      \\\"unit_of_measure\\\": \\\"string\\\",\\n      \\\"unit_price\\\": \\\"number\\\",\\n      \\\"discount\\\": \\\"number\\\",\\n      \\\"tax_rate\\\": \\\"number\\\",\\n      \\\"tax_amount\\\": \\\"number\\\",\\n      \\\"line_total\\\": \\\"number\\\"\\n    }\\n  ],\\n  \\\"summary\\\": {\\n    \\\"subtotal\\\": \\\"number\\\",\\n    \\\"discounts\\\": {\\n      \\\"amount\\\": \\\"number\\\",\\n      \\\"description\\\": \\\"string\\\"\\n    },\\n    \\\"shipping\\\": {\\n      \\\"amount\\\": \\\"number\\\",\\n      \\\"method\\\": \\\"string\\\"\\n    },\\n    \\\"handling_fees\\\": \\\"number\\\",\\n    \\\"tax_summary\\\": [\\n      {\\n        \\\"tax_type\\\": \\\"string\\\",\\n        \\\"tax_rate\\\": \\\"number\\\",\\n        \\\"taxable_amount\\\": \\\"number\\\",\\n        \\\"tax_amount\\\": \\\"number\\\"\\n      }\\n    ],\\n    \\\"total_tax_amount\\\": \\\"number\\\",\\n    \\\"total_amount\\\": \\\"number\\\",\\n    \\\"amount_paid\\\": \\\"number\\\",\\n    \\\"amount_due\\\": \\\"number\\\"\\n  },\\n  \\\"payment_information\\\": {\\n    \\\"payment_method\\\": \\\"string\\\",\\n    \\\"payment_status\\\": \\\"string\\\",\\n    \\\"payment_date\\\": \\\"date\\\",\\n    \\\"payment_reference\\\": \\\"string\\\"\\n  },\\n  \\\"additional_information\\\": {\\n    \\\"notes\\\": \\\"string\\\",\\n    \\\"terms_and_conditions\\\": \\\"string\\\",\\n    \\\"delivery_information\\\": \\\"string\\\",\\n    \\\"custom_fields\\\": {\\n      \\\"field_name\\\": \\\"string\\\"\\n    }\\n  },\\n  \\\"metadata\\\": {\\n    \\\"extraction_confidence\\\": \\\"number\\\",\\n    \\\"processing_date\\\": \\\"date\\\",\\n    \\\"original_file_name\\\": \\\"string\\\"\\n  }\\n}\\n\\nReturn only the JSON output.\"\n        },\n        {\n          \"type\": \"document_url\",\n          \"document_url\": \"{{ $json.invoice_url }}\"\n        }\n      ]\n    }\n  ],\n  \"document_image_limit\": 8,\n  \"document_page_limit\": 64\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,480],"id":"35a91707-8f19-40b3-9b39-d45f1acb4dfd","name":"Mistral - doc as prompt","credentials":{"mistralCloudApi":{"id":"YLNMurYuaAP9sWyn","name":"Mistral Cloud account"}}},{"parameters":{"assignments":{"assignments":[{"id":"80db030a-1d14-410b-aff9-c535bd81167e","name":"invoice_url","value":"https://drive.google.com/uc?export=download&id=1kX3YnV4sM3ZcQzVdwUWvrcfWRP1-sTnI","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,480],"id":"5c2dbd82-32b0-48dd-a288-71481e392adc","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[280,480],"id":"7cdaf90d-643f-4495-83d9-54753956746a","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## See\nhttps://www.youtube.com/watch?v=xcrtsOapIzU"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,-200],"id":"c3d2636b-da20-4992-afac-d6752d0e86ce","name":"Sticky Note"}],"connections":{"On form submission":{"main":[[{"node":"send pdf to Mistral","type":"main","index":0}]]},"send pdf to Mistral":{"main":[[{"node":"mistral - get signed url","type":"main","index":0}]]},"mistral - get signed url":{"main":[[{"node":"Get Parsed Invoice","type":"main","index":0}]]},"Mistral Cloud Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get Parsed Invoice":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Mistral - doc as prompt","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9bed58a4-f323-4316-8014-1f2f2029a3a3","triggerCount":1,"shared":[{"createdAt":"2025-05-05T22:50:54.454Z","updatedAt":"2025-05-05T22:50:54.454Z","role":"workflow:owner","workflowId":"DQbNW5Csb9x0W2kt","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}