n8n/workflows/local-disk-to-twenty-crm.json
{"createdAt":"2025-05-12T08:55:25.740Z","updatedAt":"2025-05-15T14:41:08.973Z","id":"Gik1RFkNb4wsdYFy","name":"local-disk-to-twenty-crm","active":true,"nodes":[{"parameters":{"resource":"person","operation":"createOnePerson","query":{"depth":"1"},"additionalFields":{"city":"={{ $json._city }}","emails":{"emailsFields":{"primaryEmail":"={{ $json._primary_contact }}","additionalEmails":[[]]}},"jobTitle":"={{ $json._job_title }}","name":{"nameFields":{"firstName":"Carolina","lastName":"={{ $json.customerName.split(' ').pop() }}"}},"phones":{"phonesFields":{"primaryPhoneCountryCode":"=","primaryPhoneNumber":"={{ $json._phone }}"}},"position":0}},"type":"n8n-nodes-twenty.twenty","typeVersion":1,"position":[180,360],"id":"f4c73451-71fe-48f3-98be-be7793597430","name":"Twenty","credentials":{"twentyApi":{"id":"m2aupfqEVDqf8DDY","name":"Twenty account"}}},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-240,360],"id":"a343dc0d-2242-4792-b65c-8545290d4104","name":"Extract from File","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"0e30f869-6564-4136-a837-d7b1890ba872"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"=csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $json.file_type }}","rightValue":"txt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7766d2a1-8f26-405b-acac-1a8c55a2a558","leftValue":"={{ $json.folder_name }}","rightValue":"customer_info","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"0b1989ea-0117-473a-94e4-6b207de2c65b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-660,280]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.path }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.path.split(/[\\\\/]/).pop().split('.').pop(); }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.path.split(/[\\\\/]/).pop().split('.').slice(0, -1).join('.'); }}","type":"string"},{"id":"aa1a4bb7-016d-4e59-ad82-3acf3683fb70","name":"file_name","value":"={{ $json.path.split(/[\\\\/]/).pop().split('/').slice(0, 1).join('.');}}","type":"string"},{"id":"437af800-6d66-4079-b7a3-08351e40c31e","name":"folder_name","value":"={{ $json.path.split(/[\\\\/]/).slice(0,-1).join('/')","type":"string"},{"id":"a6b56470-43c3-46a0-be55-c6031434ffa8","name":"customer_name","value":"={{ $json.path.split(/[\\\\/]/).slice(0,-1).pop()","type":"string"}]},"options":{}},"id":"d77d9876-03ca-4b95-a391-e5d04b280c51","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-840,300]},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1060,300],"id":"c36dd79e-cec7-4f57-94e4-3b2fdc982667","name":"Loop Over Items"},{"parameters":{"triggerOn":"folder","path":"/data/shared","events":["add","change","addDir"],"options":{"usePolling":false}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-1240,300],"id":"a315e07f-e4cf-4b53-8d5e-56f684e007ee","name":"Local File Trigger"},{"parameters":{"fileSelector":"={{ $json.file_id }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-440,360],"id":"7d8eb525-b605-4c6a-be59-cc6572b5fcdc","name":"Read/Write Files from Disk"},{"parameters":{"jsCode":"function parseCustomerInfo(text) {\n    // Initialize result object\n    const result = {};\n    \n    // Split into lines and filter empty lines\n    const lines = text.split('\\n').filter(line => line.trim());\n    \n    // Get customer name from first line\n    result.customerName = lines[0].replace('Customer Information for ', '');\n    \n    // Process main info section\n    lines.forEach(line => {\n        // Handle main fields with ': ' separator\n        if (line.includes(': ')) {\n            const [key, value] = line.split(': ').map(s => s.trim());\n            \n            // Clean up key names\n            const cleanKey = key\n                .toLowerCase()\n                .replace(/\\s+/g, '_') // replace spaces with underscore\n                .replace(/-/g, ''); // remove hyphens\n            \n            result[cleanKey] = value;\n        }\n        // Handle notes section (lines starting with '- ')\n        else if (line.startsWith('- ')) {\n            const [key, value] = line.substring(2).split(': ').map(s => s.trim());\n            \n            // Clean up key names\n            const cleanKey = key\n                .toLowerCase()\n                .replace(/\\s+/g, '_') // replace spaces with underscore\n                .replace(/-/g, ''); // remove hyphens\n            \n            result[cleanKey] = value;\n        }\n    });\n    \n    return result;\n}\n\n// Example text\nconst customerText = $json[\"data\"];\n\nconst parsed = parseCustomerInfo(customerText);\nconsole.log(JSON.stringify(parsed, null, 2));\nreturn [parsed]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,360],"id":"296e6fe1-91cb-421c-830c-2043c85e14ef","name":"Parse to Json"}],"connections":{"Extract from File":{"main":[[{"node":"Parse to Json","type":"main","index":0}]]},"Switch":{"main":[[],[],[],[{"node":"Read/Write Files from Disk","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Parse to Json":{"main":[[{"node":"Twenty","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3643ed02-4fc5-4acd-967a-ce40985c17ac","triggerCount":1,"shared":[{"createdAt":"2025-05-12T08:55:25.740Z","updatedAt":"2025-05-12T08:55:25.740Z","role":"workflow:owner","workflowId":"Gik1RFkNb4wsdYFy","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}