n8n/workflows/save n8n workflows to dropbox.json
{"createdAt":"2025-05-12T03:48:17.842Z","updatedAt":"2025-05-12T04:33:58.015Z","id":"vLz00lntnMm9CR31","name":"save n8n workflows to dropbox","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-160,-40],"id":"c59638a8-4d96-403f-b184-d4314b05605c"},{"parameters":{"url":"http://host.docker.internal:5678/api/v1/workflows","options":{},"headerParametersUi":{"parameter":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzYTI5NjM5OC04OTBkLTQ5NGYtOWE3Ny02NmIxNzNjMDA5ODEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzQ3MDIxNzgxfQ.HLGZulIOCv_aAVS6rOFC_XWjFUPD8HxqZA8Bx23r2kU"}]}},"name":"N8N Workflows","type":"n8n-nodes-base.httpRequest","position":[80,-40],"typeVersion":1,"executeOnce":true,"id":"9fb6cd3f-51e1-47db-86cf-924343a14f66"},{"parameters":{"url":"=http://host.docker.internal:5678/api/v1/workflows/{{$json[\"id\"]}}","options":{},"headerParametersUi":{"parameter":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzYTI5NjM5OC04OTBkLTQ5NGYtOWE3Ny02NmIxNzNjMDA5ODEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzQ3MDIxNzgxfQ.HLGZulIOCv_aAVS6rOFC_XWjFUPD8HxqZA8Bx23r2kU"}]}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[500,-40],"typeVersion":1,"id":"9528976f-6bd3-4646-aaff-c950a9acdcb8"},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[-160,100],"typeVersion":1,"id":"131c5a30-f4fc-4f15-a8f5-0fff23b63d1f"},{"parameters":{"fieldToSplitOut":"data","options":{}},"name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[280,-40],"id":"1ae43d14-c923-4e7e-a386-62c7643954db"},{"parameters":{"mode":"jsonToBinary","options":{}},"name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[720,-40],"alwaysOutputData":true,"id":"72df183a-a128-479f-9ba3-ff4168ad3314"},{"parameters":{"path":"=/n8n/{{ $node[\"N8N Workflow Detail\"].json[\"name\"] }}.json","binaryData":true},"name":"Dropbox","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[940,-40],"id":"de08ba0a-b2a6-46c4-bb76-5a3caa02f357","credentials":{"dropboxApi":{"id":"DV686ixIxzX5cEw5","name":"Dropbox account"}}}],"connections":{"Start":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"N8N Workflows":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"N8N Workflow Detail","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"Dropbox","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb46c927-764e-45b7-8f21-4ea467862d01","triggerCount":1,"shared":[{"createdAt":"2025-05-12T03:48:17.842Z","updatedAt":"2025-05-12T03:48:17.842Z","role":"workflow:owner","workflowId":"vLz00lntnMm9CR31","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}