n8n/workflows/WhatsappAIAssistant.json
{"createdAt":"2025-05-09T18:01:25.607Z","updatedAt":"2025-05-09T19:48:42.539Z","id":"vPkxg9zHrhKZ1mZ4","name":"WhatsappAIAssistant","active":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-400,500],"id":"07352f60-f5df-4b0a-b572-6b38a9d4875b","name":"WhatsApp Trigger","webhookId":"d3978cae-2aca-4553-8ac7-ab89068deabc"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a helpful assistant called Sam.\n\nYou are currently talking to  {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\n\nThe current date and time is {{ $now.toString() }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[260,620],"id":"1d115291-ba91-4ba1-95d5-0d6560f562df","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[180,820],"id":"4d634928-286f-4c8c-8195-93ab71ffd53f","name":"Simple Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-220,500],"id":"81d393a6-cab4-46c1-a0ac-f32d4eddbf1e","name":"Check Input Type"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[120,340],"id":"1337d943-6bd7-4a24-a916-62309548d33f","name":"Get Image URL","webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,340],"id":"20eb48cd-b4c8-4e46-a1cf-fd795c189db3","name":"Download Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=Describe the image in detail.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,340],"id":"86d68b86-b7ab-46b1-906e-d0ddf76ca28f","name":"Analyze Image","credentials":{"openAiApi":{"id":"JfMKe6UVIbmHqonl","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"text","value":"=# The user provided the following image and text.\n\n## IMAGE CONTENT:\n{{ $json.content }}\n\n## USER MESSAGE:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe the image\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,340],"id":"513c1b2e-f494-4ae6-bcbb-cfb424a84b79","name":"Image + Text Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c05a7fbf-309a-407e-9fee-7e0b03f4a5c8","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,620],"id":"0a814886-5fba-44a5-9c90-83a088850071","name":"Text Only Prompt"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[120,80],"id":"9bef3d80-f8ae-4eff-aab8-529b8424db91","name":"Get Audio URL","webhookId":"87caa300-7204-47b5-959a-94f4a8fbf8cf"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,80],"id":"6d213d8a-bee6-442e-8100-6e05f1126593","name":"Download Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,80],"id":"fcf2aa80-8509-4c44-80cd-cb2f0eb1e0ec","name":"Transcribe Audio"},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,80],"id":"395f686c-09cf-46aa-9b2b-d97ce420ef70","name":"Audio Prompt"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d1d759-f585-4791-a743-b9d72951e77c","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,620],"id":"97643349-39fe-482a-a920-84891c74104f","name":"If"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[940,600],"id":"31790c65-6b6a-4d62-8a8e-af3c805641da","name":"Generate Audio"},{"parameters":{"operation":"send","phoneNumberId":"175940715605000","recipientPhoneNumber":"={{ $('Check Input Type').item.json.contacts[0].wa_id }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1300,600],"id":"f0bd3a1a-a68a-478a-a14d-5085d4307dde","name":"Respond with Audio","webhookId":"d18b2c98-84e4-43cf-a532-0c47d5161684"},{"parameters":{"operation":"send","phoneNumberId":"175940715605000","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[940,800],"id":"1235503e-ec63-4d11-a3b8-bf95a2249243","name":"Respond with Text","webhookId":"23834751-5066-48ba-8e19-549680df2b27"},{"parameters":{"jsCode":"// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n    \n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === 'audio/mp3') {\n        item.binary[propName].mimeType = 'audio/mpeg';\n      }\n    }\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,600],"id":"fc956f34-8bcc-4d64-b510-51066b23ade7","name":"Fix Mime Type"},{"parameters":{"content":"## Audio","height":240,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"eba8b8b8-78c3-4d34-8869-9aca2e817943","name":"Sticky Note"},{"parameters":{"content":"## Image & Text","height":280,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,260],"id":"c03cf899-ddcb-48b8-a1a6-226ab6017fc9","name":"Sticky Note1"},{"parameters":{"content":"## Tools","height":400,"width":820},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,1040],"id":"c9b2b32e-de14-4d81-ac8a-8e5e4470b345","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[20,1140],"id":"8d0abcd1-7a81-4c72-9799-28fd3f3cd453","name":"Web Search"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,820],"id":"d65b40a2-60eb-46fc-98c1-a763dfcf0be1","name":"OpenAI Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[160,1180],"id":"99e2c0bb-8496-425b-a76b-657e938ffd63","name":"Calculator"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[240,1280],"id":"4c629e64-5b9c-435a-9a2e-da163e7a160b","name":"Embeddings OpenAI"},{"parameters":{"mode":"retrieve-as-tool","toolName":"contacts","toolDescription":"Returns contact information like email addresses.","pineconeIndex":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n"},"options":{"pineconeNamespace":"contacts"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[300,1220],"id":"82ad9ac5-4e42-4303-936a-a48c6a3c7a3c","name":"Knowledge Base"},{"parameters":{"sseEndpoint":"https://n8n.leonvanzyl.com/mcp/mytools/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[520,1140],"id":"c56f280d-1579-4da6-a919-11d57249740c","name":"MCP Client"},{"parameters":{"content":"## See \nhttps://www.youtube.com/watch?v=LekI91ISf_8&t=168s"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-500,220],"id":"ddad3f6b-320f-4c7b-8484-9537c14744b5","name":"Sticky Note4"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Check Input Type","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Check Input Type":{"main":[[{"node":"Get Audio URL","type":"main","index":0}],[{"node":"Get Image URL","type":"main","index":0}],[{"node":"Text Only Prompt","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text Prompt","type":"main","index":0}]]},"Text Only Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Image + Text Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Audio Prompt","type":"main","index":0}]]},"Audio Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate Audio","type":"main","index":0}],[{"node":"Respond with Text","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Fix Mime Type","type":"main","index":0}]]},"Fix Mime Type":{"main":[[{"node":"Respond with Audio","type":"main","index":0}]]},"Web Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Knowledge Base","type":"ai_embedding","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a82349a9-f82c-4cff-a186-5b34e66f64ce","triggerCount":0,"shared":[{"createdAt":"2025-05-09T18:01:25.607Z","updatedAt":"2025-05-09T18:01:25.607Z","role":"workflow:owner","workflowId":"vPkxg9zHrhKZ1mZ4","projectId":"5QWv6f9mlxQ2M1LM","project":{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:27:28.535Z","id":"5QWv6f9mlxQ2M1LM","name":"Carolina Sarnevesht <carops67@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-04T14:25:57.130Z","updatedAt":"2025-05-04T14:25:57.130Z","role":"project:personalOwner","userId":"3a296398-890d-494f-9a77-66b173c00981","projectId":"5QWv6f9mlxQ2M1LM","user":{"createdAt":"2025-05-04T14:25:55.814Z","updatedAt":"2025-05-04T16:56:19.160Z","id":"3a296398-890d-494f-9a77-66b173c00981","email":"carops67@gmail.com","firstName":"Carolina","lastName":"Sarnevesht","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RssROpqkXOm23GYL","userActivatedAt":1746377777269},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}